<div id="mainholderpad" class="clearfix">
<a name="top" id="top"></a>
<h1>About us</h1>
      <h2 class="centertext"><a name="closings" id="closings"></a>2010 Office Closing Schedule</h2>
      <br />
      <br />
      <table class="closings">
          <tr>
              <th>HOLIDAY</th>
              <th>DATE</th>
          </tr>
          <tr class="blu">
              <td>Thanksgiving Day</td>
              <td>Thursday &amp; Friday, Nov 25 &amp; 26</td>
          </tr>
          <tr class="blu">
              <td>Christmas Eve</td>
              <td>Friday Dec 24</td>
          </tr>
          <tr>
              <td>Christmas</td>
              <td>Monday, Dec 27</td>
          </tr>
          <tr class="blu">
              <td>New Years Eve</td>
              <td>Friday Dec 31</td>
          </tr>
      </table>
      <br />
<br />
      <p>KIT Federal Credit Union (&quot;KIT&quot;) is a member-owned, not-for-profit
          financial institution that exists to provide superior financial products
          to our member-owners and their families. KIT was chartered in 1965 with
          the field of membership of the employees of A&amp;P grocery stores located
          in Kentucky, Indiana, and Tennessee. We began in a one-room office and
          slowly built our services over the years by commitment of the official
          family to the members. In response to our growth and after several location
          changes in offices, we moved to our present location on Bardstown Road
          in Central Jefferson County just off the main expressway.<br />
       <br />
        With the new expanded area, we were then able to add services needed
        by the membership to properly manage their affairs. KIT geared up
        for the electronic age and added certificate, IRA, share draft (with
        ATM cards), home equity, and full revolving credit programs.<br />
       <br />
        In the early 1980's, a realization that the economic environment
        for the grocery industry was changing prompted the Board and CEO
        to prepare for a different future. A new strategy was built to stabilize
        the membership by adding Select Employee Groups as additional Sponsors.
        The management team took this and other positive steps to make sure
        the current members would not be left behind while adding new groups.
        In 1982, the announcement came that all A&amp;P stores would close.
        We then offered the membership to the Kentucky Grocers Association
        and sought other Sponsors whose workers were in need of a strong
        financial institution that cared about the people they served.<br />
       <br />
        Since then the <%= link_to "Sponsor list", loac_path %> has grown to other associations and like groups. In 2004,
        the KIAWA Credit Union merged with KIT and the Kentucky/Indiana Automotive
        Warehouse Association and KIT welcome the Association and its members
        as new sponsors. Here, a member is not a number; a member is an owner
        who has entrusted us with their financial needs. Adding groups was
        not our only focus - we added new services, too! Money market accounts,
        credit cards, an expanded non-purchase real estate program, first
        mortgages (through a third party servicer), and debit cards were
        added.<br />
       <br />
        Efficient and friendly service at all times is our goal and our pledge
        to our members. This is a trust we take seriously and hope you will
        join us today.</p>
        
      <hr />
     
      <h2>Mission Statement</h2>
      <p>KIT Federal Credit Union is a Member-Owned Financial Institution
        whose purpose is to provide a full range of financial services, of
        the highest quality, offered in a personal and professional manner,
        consistent with the Credit Union's long-term financial stability.</p>
       
      <hr />
        
      <a name="membership" id="membership"></a>
        
      <h2>How Can I Join?</h2>
      <p>Any <%= link_to "eligible member", :anchor => "member" %> wishing to use KIT's services must first establish their
        membership by depositing at least $5 to a <%= link_to "Prime Share (Savings) Account", savingsproducts_path %>. To maintain services at KIT, members
        must keep a minimum balance of $5 in the Savings Account at all times.<br />
      <br />
        There is no waiting period to join KIT. As soon as you become a member
        of any of the eligible groups, you can join the Credit Union and
        begin to enjoy the benefits of KIT membership. If you are under 18
        years of age, you must contact KIT at 502.459.9286 (888.459.9286
        toll free) before submitting an application to open an account.<br />
      <br />
        <%= image_tag "logoblue_small.jpg", :alt=>"" %> <%= link_to "Membership Agreement", membershipagreement_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "logoblue_small.jpg", :alt=>"" %>
        <%= link_to "Membership Application", new_memberapp_path %></p>
       
      <hr />
        
      <a name="member" id="member"></a>
      
      <h2>Eligible Members</h2>
      <p>There are two ways that you may be eligible to join KIT: work for
        a company that is one of KIT's sponsor groups; or be a relative of
        a KIT member.<br />
      <br />
        To find out if you work for an eligible group, <%= link_to "please click here", loac_path %>.<br />
      <br />
        Once you are a member, you may pass along membership to your <strong>immediate
        family</strong>, regardless of where they live or work. Family membership
        includes a spouse, child, sibling, parent, grandparent or grandchild.
        For the purpose of this definition, immediate family member includes
        stepparent, stepchild, stepsibling, and adoptive relationships. It
        also includes anyone who permanently lives in your household.</p>
       
      <hr />
      
      <h2>Once A Member, Always A Member</h2>
      <p>No need to close account if member leaves the area. May maintain
        it as long as he keeps minimum of $5.00, good address, and makes
        at least one transaction (other than dividend posting) each year.</p>
        
      <hr />
      
      <h2>Verify Identification</h2>
      <p>Federal Law requires that we verify ID on anyone (member, joint owner,
        custodian, guardian, trustee, POA) with access to financial accounts.
        A Social Security/Tax ID Number , date of birth, current residential
        address, and a mailing address, if different, all must be verified
        through the federal government databases. Valid photo and signature
        ID must be reviewed and documented by KIT staff.</p>
        
      <hr />
        
      <h2>A Cooperative Governed by the Members</h2>
      <p>Our Board of Directors and Supervisory Committee members are comprised
        of KIT members. They work on a volunteer basis to monitor the operations,
        mission, goals and vision of KIT for all the members.</p>
       
      <hr />
        
      <h2>Shares Insured to $100,000, IRAs to $250,000!</h2>
      <p>Your regular share deposits are insured up to $100,000 and IRAs are
        insured separately to $250,000 by the National Credit Union Administration
        (<%= link_to "NCUA", "http://www.ncua.gov/", :rel=>"external", :class=>"menubottom" %>).</p>
               
      <%= link_to "Back to Top", :anchor => "top" %>
      <p>&nbsp;</p>
</div>
