<div id="mainholderpad" class="clearfix">
	<a name="top" id="top"></a>
	<h1>Contact Us</h1>
     <table class="cu">     
         <tr>             
            <td><%= image_tag "contact1.gif", :alt=>"" %></td>             
            <td><h2>Address:<br /> </h2>                
             <address>3415 Bardstown Road, Ste 103A<br />                 
             Louisville, KY 40218</address></td>         
         </tr>         
         <tr>             
            <td><%= image_tag "contact2.gif", :alt=>"" %></td>             
            <td><h2>Phone:</h2><br />                 
             502.459.9286<br />                 
             888.459.9286 (toll free outside Louisville Area)</td>         
         </tr>         
         <tr>             
            <td><%= image_tag "contact3.gif", :alt=>"" %></td>             
            <td><h2>Fax:</h2><br />                 
            502.458.7038</td>         
         </tr>         
         <tr>             
            <td><%= image_tag "contact4.gif", :alt=>"" %></td>             
            <td><h2>E-Mail:</h2><br />                 
            <%= mail_to "kit@kitfcu.org", "kit@kitfcu.org" %></td>         
         </tr>         
         <tr>             
            <td><%= image_tag "contact5.gif", :alt=>"" %></td>             
            <td><h2>Audio Response:</h2><br />                 
            502.238.3192</td>         
         </tr>         
         <tr>             
            <td><%= image_tag "contact6.gif", :alt=>"" %></td>             
             <td><h2>Emergency Notifcation Number for VISA&trade; :</h2><br />                 
             If you lose or have your <h2>credit card</h2> stolen, <br />                 
             call 1.800.808.7230.</td>         
         </tr>         
         <tr>             
         	<td><%= image_tag "contact7.gif", :alt=>"" %></td>             
            <td><h2>Emergency Notification Number for VISA&trade; DebitCard&reg;:</h2><br />                 
         	<span class="style1">For lost/stolen Visa debit cards/ATM card&nbsp;the number is 1-800-528-2273</span></td>         
         </tr> 
     </table>
     
	<h2>2010 Office Hours</h2>
    <p>Monday - Thursday 9:30 a.m.to 4:30 p.m.<br />
    Friday: 9:00 a.m. to 6:00 p.m<br />
    <br />
    </p>
    <h2>2010 Office Closing Schedule</h2>
    <br />
    <br />
    
    <table class="closings">
        <tr>
            <th>HOLIDAY</th>
            <th>DATE</th>
        </tr>
        <tr class="blu">
            <td>Thanksgiving Day</td>
            <td>Thursday &amp; Friday, Nov 25 &amp; 26, 2010</td>
        </tr>
        <tr class="blu">
            <td>Christmas Eve</td>
            <td>Friday Dec 24, 2010</td>
        </tr>
        <tr>
            <td>Christmas</td>
            <td>Monday, Dec 27, 2010</td>
        </tr>
        <tr class="blu">
            <td>New Years Eve</td>
            <td>Friday Dec 31, 2010</td>
        </tr>
    </table>
    
    <br />
    <br />
    <%= link_to "Back to Top", :anchor => "top" %> <br />
    <br />

</div>