<div id="mainholderpad" class="clearfix">
	<a name="top" id="top"></a>
        <h1 class="centertext">EFT and Other Important Disclosures<br />
        <br />
            KIT Federal Credit Union<br />
            3415 Bardstown Road, Suite 103A<br />
            Louisville, Kentucky 40218</h1>
            
		<p class="logo"><%= link_to "ELECTRONIC FUNDS TRANSFER DISCLOSURE", :anchor => "transferdisc", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "FUNDS AVAILABILITY DISCLOSURE", :anchor=> "fundsdisc", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "PRIVACY POLICY", :anchor => "privacy", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "CONTACT INFORMATION", :anchor => "contact", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "WIRE TRANSFER DISCLOSURE", :anchor => "wire", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "WEB PAGE STATEMENT", :anchor => "web", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "BROWSER POLICY STATEMENT", :anchor => "browser", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "LINKING POLICY STATEMENT", :anchor => "linking", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "COPYRIGHT NOTICE STATEMENT", :anchor => "copyright", :class=>"textmenu" %></p>
        <p class="logo"><%= link_to "EQUAL HOUSING LENDER NOTICE STATEMENT", :anchor =>"ehl", :class=>"textmenu" %></p>
        <p>&nbsp;</p>

        <p>This disclosure contains important information
        	about your rights and liabilities, please read thoroughly and retain
        	with your valuable papers for future reference.</p>
            
		<h2>ELECTRONIC FUND TRANSFERS RULES AND REGULATIONS</h2>
            The following governs any electronic fund transfer (&quot;Transaction&quot;)
            made by you, or anyone authorized by you, in connection with your accounts
            at the KIT Federal Credit Union (&quot;KIT's or Credit Union&quot;),
            whether initiated by an Automated Teller Machine (&quot;ATM&quot;) or
            debit card (&quot;Card&quot;), by pre-authorized transaction (transfers
            authorized on a recurring basis at regular intervals), by Audio Response
            (audio response), via KIT Connect (over the Internet), or by other means
            of access provided now or in the future. We will issue you a Personal
            Identification Number (&quot;PIN&quot;) (that you may change to a PIN
            of your choice) which must be used together with the Card to access our
            own ATMs or the regional network of ATMs or the national network of ATMs
            or Point-of-Sale Terminals (&quot;POS&quot;). Another PIN (that you may
            change to a PIN of your choice) will also be necessary to access such
            services as Audio Response, KIT Connect, and other electronic systems
            made available now or in the future to perform Transactions on your Credit
            Union accounts.<br />
            <br />
               
		<h2>AGREEMENTS.</h2> 
			Transactions may only be performed while your accounts have sufficient balances
            to complete the Transaction requested. Wrongfully obtaining funds
            from the Credit Union by use of a Card or PIN constitutes a federal
            criminal offense, punishable by fine or imprisonment, or both. All
            terms and conditions of any written agreements that have been previously
            made between you and the Credit Union regarding the use of the Card
            and PIN and any of your Credit Union accounts apply to all Transactions,
            unless any terms or conditions in those agreements conflict with
            the rules and regulations set forth in this disclosure, in which
            case the rules and regulations of this disclosure shall control.
            All Transactions, whether deposits, withdrawals, or transfers, made
            with the Card or PIN are subject to verification by us. Any card
            or other instrument issued by us shall supersede the present instruments.<br />
        <br />
           
		<h2>PROPERTY RIGHTS.</h2> 
			The Card and the PIN are property of the Credit Union and your right
            to use these in connection with your Credit Union accounts may be
            terminated at any time without notice. You will surrender your Card
            or cease to use your PIN whenever we ask for them. You will not allow
            any other person possession or use of the Card or PIN. It is your
            responsibility to prevent disclosure and unauthorized use of your
            Card and your PIN. If you allow any person to use your Card or your
            PIN, then you will be held liable for any of their use by that person,
            unless you notify us that the individual is no longer authorized
            by you to make Transactions on your accounts. We will, as soon as
            possible after notification, block further Transactions on your account.<br />
        <br />
        
        <h2>CHANGES.</h2> 
			We reserve
            the right to change or add to these rules and regulations at any
            time, upon giving you reasonable notice at least 21 days prior to
            the effective date of the change. Such notice may consist of enclosing
            a notice on or in the statement of the account or mailing a notice
            in a special mailing. Notice to any joint account holder of the Card
            or PIN is notice to all of you. In the event we determine that an
            immediate change is necessary to maintain or restore the security
            of the electronic fund transfer services or to any account, then
            we may make the necessary change without advising you in advance.
            We can delay enforcing any of our rights against you without losing
            them.<br />
        <br />
            
		<hr />
        
		<a name="transferdisc" id="transferdisc"></a><br />
        <br />
            
		<h2>ELECTRONIC FUNDS TRANSFER DISCLOSURE</h2>
        <h2>YOUR OBLIGATIONS.</h2> 
			It is very important to keep your PIN confidential
            and separate from your Card to prevent someone from using it to make
            Transactions without your permission.<br />
        <br />
        <h2>GENERALLY.</h2> 
			Tell us AT ONCE if you believe your Card
            or PIN has been lost or stolen. Telephoning is the best way of keeping
            your possible losses down. You could lose all the money in your account,
            plus your maximum overdraft line-of-credit, if any. If you tell us
            within 2 business days, you can lose no more than $50.00 if someone
            used your Card or PIN without your permission. If you believe your
            Card or PIN has been lost or stolen, and you tell us within 2 business
            days after you learn of the loss or theft, you can lose no more than
            $50 if someone used your Card or PIN without your permission. If
            you do NOT tell us within 2 business days after you learn of the
            loss or theft of your Card or PIN, and we can prove that we could
            have stopped someone from using your Card or PIN without your permission
            if you had told us, you could lose as much as $500.<br />
        <br />
        <h2>Tell us AT ONCE</h2> 
			if your statement shows transfers
            that you did not make. If you do not tell us within 60 days after
            the statement was mailed to you, you may not get back any money you
            lost after the 60 days if we can prove that we could have stopped
            someone from taking the money if you had told us in time. If a good
            reason (such as a long trip or a hospital stay) kept you from telling
            us, we will extend the time periods.<br />
        <br />
        <h2>ADDITIONALLY.</h2> 
			Unless you have been grossly negligent
            or have engaged in fraud, you will not be liable for any unauthorized
            Transactions using your lost or stolen Debit VISA Card&reg;. This
            additional limit on liability does not apply to ATM Transactions
            or to Transactions using your PIN which are not processed by STAR&reg;.<br />
        <br />
        <h2>NOTIFICATION OF LOSS</h2> 
			If you believe your Card or
            PIN has been lost or stolen or that someone has transferred or may
            transfer money from your account without your permission, call: 502.45.9286
            or toll free 888.459.9286; or after business hours for your Debit
            VISA Card&reg; or ATM Card at 1-800-523-4175; or write: Member Services,
            KIT Federal Credit Union, 3415 Bardstown Road, Ste 103A, Louisville,
            KY 40218.<br />
        <br />
        <h2>BUSINESS DAYS.</h2> 
			Our business days are Monday through
            Friday. Credit Union holidays are not included.<br />
        <br />
        
        <h2>ACCOUNT ACCESS.</h2>Indicated below are types of Transactions
            we are capable of handling, some of which may not apply to your account.
            The information disclosed to you upon receipt of your Card or PIN
            will control as to access available to you. These Transactions may
            be at an ATM or POS, through Audio Response or KIT Connect, or any
            other terminal or device provided now or in the future that is initiated
            by use of your Card or PIN or both, including:<br />
            
        <ul>    
            <li>Withdraw cash from your Checking or Savings Accounts. </li>
            <li>Make deposits to your Checking or Savings Accounts at locations so
                designated to receive deposits. </li>
            <li>Transfer funds between your Checking and Savings Accounts whenever you
                request. </li>
            <li>Pay for purchases or services at places that have agreed to accept
                the Card or PIN. </li>
            <li>Balance inquiries for a current amount in your Checking or Savings Accounts.
                This figure may not agree with your records, as some withdrawals,
                checks, or deposits may not yet be posted to your account. </li>
            <li>Use of information from a Check to make a one-time ACH or POS withdrawal
                from your account. </li>
            <li>Some of these services may not be available at all terminals.</li>
        </ul>
        
        <br />
        <br />
        
        <h2>LIMITATIONS.</h2> 
			You may make unlimited transfers up
            to the amount of funds in your Savings and Checking Accounts through
            the ATM, POS, KIT Connect, or telephone during any one-business calendar
            day. You also may make unlimited deposits. However, you may only
            make withdrawals for combined cash total per day per Card as disclosed
            to you at the time of approval. During any interruption of the electronic
            services system (&quot;off-line&quot; situation), the dollar amount
            and frequency of Transactions may be reduced. All Transactions made
            with the Card or a PIN will be subject to the rules, regulations,
            bylaws or operating procedures of this Credit Union.<br />
        <br />
        <h2>PRE-AUTHORIZED CREDITS.</h2> 
			You may make arrangements
            for certain direct deposits to be accepted into your Checking or
            Savings Accounts.<br />
        <br />
        <h2>FEES.</h2> 
			Certain fees may be imposed for use of your
            Card or your PIN as disclosed to you at the time of approval and
            on the Rate and Fee Schedule you received. If you need information
            concerning fees for your Accounts, please request a Fee Schedule
            by calling 502.45.9286 or toll free 888.459.9286; or writing Members
            Services, KIT Federal Credit Union, 3415 Bardstown Road, Ste 103A,
            Louisville, KY 40218.<br />
        <br />
            We do not charge for direct deposits, preauthorized payments, or
            transfers to any type of account.<br />
   		<br />
            When you use an ATM that is not operated by us or by an Alliance
            One participant, you may be charged a fee by the ATM operator of
            the machine or by an automated transfer network used to complete
            the transfer and you may also be charged a fee for a balance inquiry.<br />
        <br />
        <h2>THIRD PARTY DISCLOSURE.</h2> 
            We will disclose information to
        	third parties about your account or transfers you made as follows:<br />
            
        <ul>    
            <li>Where it is necessary for completing transfers; or </li>
            <li>In order to verify the existence and condition of your account for
                a third party, such as a credit bureau or merchant; or </li>
            <li>In order to comply with a government agency or court orders; or </li>
            <li>If you give us your written permission. </li>
        </ul>
        
        <br />
        <br />
        <h2>ACKNOWLEDGEMENTS.</h2> 
			You will receive certain documentation.<br />
            Terminal Transfers. You may receive a receipt as an acknowledgment
            for each Transaction made to or from your account at any device provided
            by us now or in the future.<br />
        <br />
        <h2>Pre-Authorized Credits.</h2> 
			If you have arranged to
            have direct deposits made to your account at least once every 60
            days from any company, individual, or the government, you may call
            us at 502.45.9286 or toll free 888.459.9286 to find out whether or
            not the deposit has been made.<br />
        <br />
        <h2>Periodic Statements.</h2> 
			You will receive a monthly
            statement of your Checking Account unless there are no transfers
            in a particular month. In any case you will get the statement at
            least quarterly. You will receive a monthly statement on your Savings
            Account unless there are no electronic funds transfer monetary Transactions
            in a particular month. In which case you will receive a quarterly
            or annual statement on your Savings Account.<br />
        <br />
        <h2>PRE-AUTHORIZED PAYMENTS.</h2> 
			If you have a written agreement
            with us or any company so authorized to initiate such agreement on
            your account, then we will debit your account as you ordered with
            the following conditions.<br />
        <br />
        <h2>Right to Stop Payment.</h2> 
			If you told us in advance
            to make regular payments out of your account you can stop these payments.
            Here's how:<br />
        <br />
            Call us in care of the Members Services Representative at 502.45.9286
            or toll free 888.459.9286; or write: Members Services, KIT Federal
            Credit Union, 3415 Bardstown Road, Ste 103A, Louisville, KY, in time
            for us to receive your request 3 business days or more before the
            payments scheduled to be made. If you call, we may also require you
            to put your request in writing and get it to us within 14 days after
            you call. There may be a fee associated with the stop payment, see
            the Fee Schedule for details.<br />
        <br />
        <h2>Notice of Varying Amount.</h2> 
            If these regular payments may
            vary in amount, the person you are going to pay will tell you, 10 days before
            each payment, when it will be made and how much it will be. You may choose
            instead to get this notice only when the payment would differ by more than
            a certain amount from the previous payment, or when the amount would fall
            outside certain limits that you set.<br />
        <br />
        <h2>Liability for Failure to Stop Payment.</h2> 
            If you order us to
            stop one of these payments 3 business days or more before the transfer is
            scheduled, and we do not do so, we will be liable for your losses or damages.
            This liability will be limited to the dollar amount of the transfer plus
            any fees and charges which may result from the transfer.<br />
       <br />
        <h2>OUR OBLIGATIONS</h2> 
            If we do not complete a transfer to or from
            your account on time or in the correct amount according to our agreement
            with you, we will be liable for your losses or damages. However, there are
            some exceptions. We will NOT BE LIABLE, for instance:<br />
    
   
        <ul>       
            <li>If, through no fault of ours, you do not have enough money in your
                    account to make the transfer. </li>
            <li>If, when applicable by prior agreement, the transfer would go over
                    the limit on your overdraft line. </li>
            <li>If the equipment that you are using does not have enough cash to
                    complete the transaction. </li>
            <li>If the terminal or system was not working properly and you knew
                    about the breakdown when you started the transfer. </li>
            <li>If circumstances beyond our control (such as fire or flood) prevent
                    the transfer, despite reasonable precautions that we have taken. </li>
            <li>If the machine malfunctions or ceases to operate during a transaction. </li>
            <li>If you make a mistake using the ATM, Point-of-Sale, or any other
                    terminal device provided now or in the future. </li>
            <li>If we correct the error before the error causes you any actual damage. </li>
            <li>If funds in your account have been attached, garnished, levied against
                    or we are prohibited by law from paying on your account. </li>
            <li>There may be further exceptions stated in agreements with you, which
                    may be changed from time to time without notice to you.</li>
        </ul>
      
        <br />
        <h2>ERROR RESOLUTION NOTICE.</h2> 
			In case of questions or
            errors about your Transactions, call or write us as soon as you can.
            If you think your statement or receipt is wrong or if you need more
            information about a transfer listed on your statement or receipt,
            notify us as soon as you can during business hours:<br />
        <br />
            Call: 502.45.9286 or toll free 888.459.9286; or write: Sr. Members
            Services Officer, KIT Federal Credit Union, 3415 Bardstown Road,
            Ste 103A, Louisville, KY 40218.<br />
   		<br />
            We must hear from you no later than 60 days after we first sent the
            FIRST statement on which the problem or error appeared. problem or
            error appeared.<br />
   		<br />
            1. Tell your name and account number; and<br />
            2. Describe the error or transfer you are unsure about, and explain
            as clearly as you can why you believe it is an error or why you need
            more information; and<br />
            3. Tell the dollar amount or suspected error.<br />
            If you tell us orally, we may require that you send your complaint
            or question in writing within 10 business days.<br />
   		<br />
   		<br />
   		<br />
            We will determine whether an error occurred within 10 business days
            (5 business days for Debit VISA Card&reg; POS Transactions and 20
            business days if the transfer involved a new account) after we hear
            from you and will correct any error promptly. If we need more time,
            however, we may take up to 45 days (90 days if the transfer involved
            a new account, POS Transaction, or foreign-initiated transfer) to
            investigate your complaint or question. If we decide to do this,
            we will credit your account within 10 business days (5 business days
            for Debit VISA Card&reg;  POS Transactions and 20 business days if
            the transfer involved a new account) for the amount you think is
            in error, so that you will have the use of the money during the time
            it takes us to complete our investigation. If we ask you to put your
            complaint or question in writing and we do not receive it within
            10 business days, we may not credit your account. We will tell you
            the results within three business days after completing our investigation.
            If we decide that there was no error, we will send you a written
            explanation. You may ask for copies of the documents that we used
            in our investigation. 
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
       
		<hr />
        <a name="fundsdisc" id="fundsdisc"></a><br />
        <br />
            
		<h2>YOUR ABILITY TO WITHDRAW FUNDS AT KIT Federal Credit Union</h2>
            This policy statement applies to Checking Accounts. These are our transaction
            accounts, which permit an unlimited number of payments to third parties
            and unlimited number of telephone and preauthorized transfers to other
            accounts of yours with us. Feel free to ask us whether any of your other
            accounts might also be under this policy.<br />
        <br />
            Our policy is to make funds from your deposit available to you on
            the first business day after the day we receive your deposit. Electronic
            direct deposits will be available on the day we receive the deposit.
            Once they are available, you can withdraw the funds in cash and we
            will use the funds to pay checks that you have written.<br />
   		<br />
            Please remember that even after we have made funds available to you,
            and you have withdrawn the funds, you are still responsible for checks
            you deposit that are returned to us unpaid and for any other problems
            involving your deposit.<br />
   		<br />
            For determining the availability of your deposits, every day is a
            business day, except Saturdays, Sundays, and federal holidays. If
            you make a deposit before 4:00 P.M. E.S.T. on a business day that
            we are open, we will consider that day to be the day of your deposit.
            However, if you make a deposit after 4:00 P.M. E.S.T. or on a day
            we are not open, we may consider that the deposit was made on the
            next business day we are open, including deposits made in Night Depositories
            located on the premises of the Credit Union Offices.<br />
   		<br />
           
		<h2>Longer Delays May Apply.</h2>In some cases, we will not make
            all of the funds that you deposit by check available to you on the first
            business day after the day of your deposit. Depending on the type of check
            that you deposit, funds may not be available until the fifth business day
            after the day of your deposit. However, the first $100 of your deposits will
            be available on the first business day.<br />
        <br />
            If we are not going to make all of the funds from your deposit available
            on the first business day, we will notify you at the time you make
            your deposit. We will also tell you when the funds will be available.
            If your deposit is not made directly to one of our employees (such
            as through the night depository, or by mail), or if we decide to
            take this action after you have left the premises, we will mail you
            the notice by the day after we receive your deposit.<br />
   	           <br />
            If you will need the funds from a deposit right away, you should
            ask us when the funds would be available.<br />
   		   <br />
            In addition, funds you deposit by check may be delayed for a longer
            period under the following conditions:<br />
            
        <ul>    
            <li>We believe a check you deposit will not be paid. You deposit checks
                totaling more than $5,000 on any one day. You deposit a check
                that has been returned unpaid. You have overdrawn your account
                repeatedly in the last six months.</li>
            <li>There is an emergency, such as failure of communications or computer
                equipment.</li>
        </ul>
        
		<br />
            We will notify you if we delay your ability to withdraw funds for
            any of these reasons, and we will tell you when the funds will be
            available. They will generally be available no later than the eleventh
            business day after the day of your deposit.<br />
        <br />
        <h2>Special Rules for New Accounts.</h2> 
			If you are a new
            member, the following special rules will apply during the first 30
            days your account is open.<br />
        <br />
            Funds from electronic direct deposits to your account will be available
            on the first business day we receive the deposit. Funds from the
            deposits of cash, wire transfers, and the first $5,000 of a day's
            total deposits of cashier's, certified, teller's, traveler's, and
            federal, state and local government checks will be on the first business
            day after the day of your deposit if the deposit meets certain conditions.
            For example, the checks must be payable to you (and you may have
            to use a special deposit slip). The excess over $5,000 will be available
            on the ninth business day after the day of your deposit. If your
            deposit of these checks (other than US Treasury check) is not made
            in person to one of our employees, the first $5,000 will not be available
            until the second business day after the day of your deposit.<br />
        <br />
            Funds from all other check deposits will be available on the tenth
            business day after the day of your deposit.<br />
        <br />
        <h2>Deposits at Automated Teller Machines.</h2> 
			ATMs NOT
            OWNED BY US. Funds from any deposits (cash or checks) made at ATMs
            we do not own or operate may not be available until the second business
            day after the day of your deposit.<br />
        <br />
        <h2>Dividend Payment Policy.</h2> 
			The dividend policy for
            this Credit Union is set forth in the Truth-In-Savings Rate and Fee
            Schedule.<br />
        <br />
            
		<%= link_to "Back to Top", :anchor=>"top" %><br />
        <br />
               
		<hr />
        <a name="privacy" id="privacy"></a><br />
        <br />
                
		<h2>CONSUMER DATA PROTECTION PRIVACY INFORMATION SHEET<br />
            KIT FEDERAL CREDIT UNION'S PRIVACY POLICY</h2>
                
			At KIT Federal Credit Union (&quot;KIT's&quot;), we do everything we
            can to protect the privacy of consumers and our members. We value
            your time and your interest in this organization. We place a high
            priority on ensuring the security and privacy of data pertaining
            to each consumer. KIT's is aware that you have entrusted us with
            your financial information and accounts, and also have shared personal
            information with us.<br />
        <br />
            KIT Federal Credit Union's Consumer Data Protection and Privacy
            Practices<br />
            KIT's Board of Directors and Staff believe it is important to
            inform you of the data protection and privacy practices that
            we have instituted. We have:<br />
                
		<ol>
            <li>1. Established specific security protection practices to ensure
            privacy of information</li>
            <li>Defined control methods to limit access to consumer information</li>
            <li>Formalized procedures and processes to ensure the maintenance
            of accurate information</li>
            <li>Established procedures and restrictions on disclosure of member
            account information</li>
            <li>Defined standards for consumer data collection, use, and methods
            of storage</li>
            <li>Required consumer data privacy covenants in third-party service
            and business arrangements</li>
            <li>Ensured our staff is committed to protect a consumer's right
            to data privacy</li>
            <li>Disclosed to our members our privacy benchmarks and provided
            an overview of institution privacy practices</li>
        </ol>
               
		<br />
                To ensure that we successfully accomplish these priority practices,
                as an organization we have:<br />
        <br />
                Established formal guidelines for management and staff to ensure
                that The protection of consumer data and staff awareness of data
                privacy are top priorities Developed and provided to potential
                and existing members a detailed notice about our data protection
                and privacy policy and practices Established guidelines that
                dictate conditions under which we can disclose nonpublic personal
                information about consumers to nonaffiliated parties, and communicated
                those guidelines via this notice<br />
        <br />
                The consumer data protection/privacy notice serves as a reference
                guide for consumers, members, credit union staff, and management
                regarding the protection of your member data and your privacy.<br />
        <br />
        <h2>Accuracy of Information.</h2> 
				Every effort is made
                to ensure that our records of your information are complete and
                correct. If an error is noted on your statement or in any other
                communication from us, please contact us at the number listed
                on your account materials as soon as possible.<br />
        <br />
        <h2>The Collection and Use of Information.</h2>We need
                to collect information about you to conduct our business relationship.
                However, in order to protect your information, we maintain and
                enforce strict security procedures.<br />
        <br />
                We collect nonpublic personal information about you from the
                following sources:<br />
                Information we received from you on applications or other forms
                Information about your transactions with us, our affiliates,
                or others Information we receive from a consumer reporting agency<br />
        <br />
                We collect only the information necessary to deliver quality
                products and services to our members. Only authorized and trained
                employees have access to member information. We also are continually
                assessing new technology as it becomes available in order to
                continue to best protect your privacy.<br />
        <br />
                We do not disclose any nonpublic personal information about you
                to nonaffiliated third parties, except as permitted by law.<br />
        <br />
                We may disclose the following information to companies that perform
                marketing services on our behalf or to other financial institutions
                with which we have joint marketing agreements:<br />
                
        <ul>
            <li>Information we receive from you on applications or other forms, such as your name,
                address, and social security number </li>   
            <li>Information about your transactions with us, our affiliates, or others, such
                as your account balance, credit card usage, and payment history </li>
            <li>Information we receive from a consumer reporting agency, such as your 
                creditworthiness and credit history</li>
        </ul>     
           
		<p>We may disclose all of the above information we collect, as described
            above, to companies that perform marketing services on our behalf
            or to other financial institutions with whom we have joint marketing
            agreements.</p>
            
        <h2>Sharing of Information Within the Credit Union.</h2> 
            We restrict access to your personal and account information to those
            employees who need to know that information to provide products and
            services to you.<br />
        <br />
            Under certain circumstances, member information may be revealed to
            other departments within our credit union in order to market additional
            products and to ensure we are considering your entire relationship
            with us when making decisions about your products (e.g., offering
            you new loan products). We might also share information with these
            departments in order to provide services necessary to maintain your
            accounts (such as data processing). The types of information include
            information about your identity, information about your transaction
            history with the credit union, information about your current financial
            condition (such as details about your income and assets), and information
            obtained from a credit report or other sources outside of the credit
            union.<br />
        <br />
            If you decide to terminate your membership or become an inactive
            member, we will adhere to the privacy policies and practices as described
            in this notice.<br />
        <br />
        <h2>Sharing of Information.</h2> 
			As permitted by law, we
            may share information about your identity (such as name, social security
            number, driver's license number), transactions with our credit union
            (such as account numbers, repayment history), your application (such
            as income and/or asset information), and credit report or other similar
            information (such as information about your credit history).<br />
        <br />
            Situations where this type of sharing would be appropriate could
            include:<br />
            When we contract with third parties to help deliver our services
            to you Involvement in programs for business, involving employers
            of cardholders for travel, purchasing, etc. When credit bureaus or
            others, as appropriate, in the course of customary business practices,
            ask for credit references As required by law, in the instance of
            lien recordings, a sale or merger of part of our business<br />
        <br />
        <h2>Confidentiality of Member Information in Other Circumstances.</h2> 
			When
            we share information with such non-affiliated third parties, we hold
            all such parties to the same or higher standards as we do ourselves
            with respect to privacy of your information. As an added safeguard,
            we also require them to allow us to audit them for compliance in
            this regard.<br />
        <br />
        <h2>E-Mail.</h2> 
			When you send us an e-mail that is general
            in nature and we respond, these are generally not secure.<br />
        <br />
        <h2>Children's Privacy.</h2> 
			Protecting the privacy of our
            children is essential. Parental consent is required for children
            under 13 to provide personally identifiable information.<br />
        <br />
        <h2>How to Contact Us.</h2> 
			If you would like additional
            information, or have questions regarding KIT's privacy policy, please
            telephone us or send us an e-mail. You may also write us, or stop
            by our office and discuss your questions with one of our staff.<br />
        <br />
        <br />
        <br />
            
		<hr />
        <a name="contact" id="contact"></a><br />
        <br />
                
		<h2>CONTACT INFORMATION</h2>
        <br />
            Calling our Member Data Privacy Control Desk at 502.45.9286 or
            toll free 888.459.9286 Contacting us in person by stopping at
            our office and speaking to our Member Services staff Writing
            us at: KIT Federal Credit Union<br />
            Member Data Privacy Control Desk<br />
            3415 Bardstown Road, Ste 103A<br />
            Louisville, KY 40218<br />
            
        <ul>        
            <li>E-mail us at kitfcu@kitfcu.org directed to our Member Data Privacy Desk</li>
        </ul>
            Please include the name, address, social security number, and account
            numbers of all affected accounts with us. 
        
            
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="wire" id="wire"></a><br />
        <br />
                
		<h2>WIRE TRANSFER DISCLOSURE</h2>
            According to the Bylaws of the Credit Union, Article 4A of the Indiana Uniform
            Commercial Code (&quot;UCC&quot;), and Subpart B of Regulation J
            by the Board of Governors of the Federal Reserve (&quot;Reg J&quot;),
            the following disclosure governs the movement of funds by means of
            wire transfers, automated clearinghouse (&quot;ACH&quot;) credits
            and some book transfers on the Credit Union records.<br />
        <br />
            This disclosure sets forth the duties, responsibilities, and
            liabilities of all parties involved in a funds transfer. Using
            the Credit Union to send or receive funds transfers shall constitute
            your acceptance of these terms.<br />
        <br />
            To the extent that the terms of this disclosure are in conflict
            with any other disclosure previously presented to you concerning
            the terms and conditions of your membership and your accounts,
            the terms set forth in this disclosure shall control.<br />
        <br />
            This disclosure applies to funds transfers as defined in Article
            4A of the UCC and Subpart B of Reg J.<br />
        <br />
            The Credit Union may establish or change cut-off times for the
            receipt and processing funds transfer requests, amendments, or
            cancellations. Unless other times are posted for various types
            of fund transfers, the cut-off time will be at 3:00 p.m. on each
            day the office is open and which is not a declared federal holiday
            by the Federal Reserve Board. Payment orders, cancellations,
            or amendments are received as of the next following funds transfer
            business day and are processed accordingly.<br />
        <br />
            The Credit Union may charge your account for the amount of any
            funds transfer initiated by you or by any person authorized by
            you as joint tenant or other authorized party with the right
            of access to the account from which the funds transfer is to
            be made.<br />
        <br />
            The Credit Union may establish, from time to time, security procedures
            to verify the authenticity of payment order. You will be notified
            of the security procedure, if any, to be used to verify payment
            orders issued by you or for which your account will be liable.
            You agree that the authenticity of payment orders may be verified
            using that security procedure unless you notify the Credit Union
            in writing that you do not agree to that security procedure.
            In that event, the Credit Union shall have no obligation to accept
            any payment order from you or other authorized parties on the
            account until you and the Credit Union agree, in writing, on
            an alternate security procedure.<br />
        <br />
            If you send or receive a wire transfer, Fedwire may be used.
            Regulation J is the law covering all Fedwire transactions, setting
            forth your rights and liabilities in a wire transfer involving
            Fedwire.<br />
        <br />
            If you give the Credit Union a payment order which identifies
            the beneficiary (&quot;recipient of the funds&quot;) by name
            and identifying or account number, you are responsible to the
            Credit Union if the funds transfer is completed on the basis
            of the identification or account number you provided. This is
            true if the beneficiary's financial institution credits the transaction
            based only on the identifying or account number, even if it the
            name on the account is a person different than the named beneficiary.<br />
        <br />
            If you give the Credit Union a payment or which identifies an
            intermediary or beneficiary's financial institution by name and
            identifying number, a receiving financial institution may rely
            on the number as the proper identification even if it identifies
            a different person than named by the financial institution. Therefore,
            you are responsible for any loss or expenses incurred by a receiving
            financial institution which executes or attempts to execute the
            payment order in reliance on the identifying number you provided.<br />
        <br />
            The Credit Union may give you credit for ACH payments before
            it receives final settlement of the transfer funds. Any such
            credit is provisional until the Credit Union receives final settlement
            of the payment. You are hereby notified and agree, if the Credit
            Union does not receive such final settlement, that it is entitled
            to a refund from you of the amount credited to you in connection
            with that ACH entry. Therefore, you are responsible for funds
            advanced to you prior to final settlement, and may, if the funds
            are not actually received by the Credit Union, must repay any
            funds advanced on your behalf.<br />
        <br />
            ACH transactions are governed by operating rules of the National
            Automated Clearing House Association. In accordance with these
            rules, you will receive notice of receipt of ACH items in the
            periodic statements of your account.<br />
        <br />
            If the Credit Union received funds transfer for you or for other
            persons authorized to have access to your account, you agree
            that the Credit Union will provide you with notification of the
            receipt of all funds transfer by including such items in the
            periodic statements of your accounts which we provide. You may
            inquire between receipts of your periodic statements whether
            or not a specific funds transfer has been received.<br />
        <br />
            If the Credit Union becomes obligated under Article 4A to pay
            interest to you, you agree that the rate of interest to be paid
            shall be equal to the declared and calculated rate applicable
            to the account at the Credit Union to which the funds transfer
            should have been made or from which the funds transfer was made.<br />
        <br />
            By participating in any such transaction named herein, is in
            itself your acceptance of these rules, policies, and procedures
            and any other policy or procedure set forth to you at the time
            of the transaction.<br />
        <br />
            The information contained herein is current as of June 30, 2006
            and may change at any time. 
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="web" id="web"></a><br />
        <br />
                
		<h2>WEB PAGE</h2>
            As a visitor to KIT Federal Credit Union's web site, you will remain
            anonymous unless you choose to provide personal information in order
            to apply for credit union membership or credit union products and
            services. Please be advised that we may disclose information on your
            accounts or information contained in member files, provided to the
            credit union through this Web Site, to credit bureaus or agencies
            who have a legitimate purpose for obtaining the information.<br />
            KIT Federal Credit Union is committed to protecting the privacy
            of each individual who visits our Web site or uses Online Banking.
            How we use and protect personal information is described below.<br />
        <br />
            <h2>How We Handle E-Mail.</h2> 
			KIT Federal Credit Union's
            staff may use personal information contained in email messages
            to answer questions, follow-up on suggestions or complaints,
            or improve the quality of our service. For secure transmissions,
            your emails to us should be sent using the email section of this
            Web site. Inquiries sent in this manner are secure and use SSL
            encryption.<br />
        <br />
        <h2>Protecting Your Online Banking Transactions.</h2> 
			Security
            is of utmost importance for KIT Federal Credit Union and our
            business partners. Our security efforts are evidenced throughout
            our infrastructure. Investments have been made for 3rd party
            assessments, virus protection, network scanners, password management,
            firewalls, encryption, 24/7 intrusion monitoring at our data
            centers and facilities security. Read more about how we protect
            your Online Banking information.<br />
        <br />
        <h2>When Information is Collected.</h2>When registering
            for Online Banking you are given an opportunity to provide us
            with an email address. This is strictly optional and will only
            be used by KIT Federal Credit Union staff to provide you with
            information associated with the Online Banking product, or to
            deliver marketing information related to other KIT Federal Credit
            Union products and services. Additionally, when registering for
            Bill Pay an email address is required in order to allow our 3rd
            Party Servicer to communicate with you via the internet.<br />
        <br />
            When you use Online Banking, certain online information, including
            the transactions you conduct are recorded. This allows KIT Federal
            Credit Union staff to confirm your transactions. We gather and
            analyze data regarding usage of our Web site, including domain
            name, pages visited, length of user session, etc., to evaluate
            the usefulness of our site.<br />
        <br />
                
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="browser" id="browser"></a><br />
        <br />
                
		<h2>BROWSER POLICY STATEMENT</h2>
        <h2>Browser Compatibility.</h2> 
			KIT Federal Credit Union recognizes the diverse
            operating systems and internet browser software that our visitors
            may be using. While we want every visitor to have the best possible
            experience on our Web site, we recognize that it is impossible to
            develop programs and applications that work identically, efficiently
            and effectively with all browser software. In an effort to provide
            our members with the best possible products and services, we will
            focus all future development and support on the latest two versions
            of major Internet browser software. We believe that utilizing current
            generation software will ultimately optimize your internet experience.
            Certain older browser versions may currently work, but their continued
            use is not recommended, and will eventually lead to degradation of
            service and functionality. We recommend that anyone using older versions
            of browser software, upgrade to the most recent version.<br />
        <br />
                
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="linking" id="linking"></a><br />
        <br />
                
		<h2>LINKING POLICY STATEMENT</h2>
        <h2>User Policy - Outbound Linking Policy Statement.</h2> 
			Any link, (including
            hyperlinks, buttons or referral devices of any kind) used on this
            or any other KIT Federal Credit Union (KIT) Web page, is provided
            for the use and convenience of the visitor. The appearance of a link
            on this or any other KIT Web page neither constitutes an endorsement,
            recommendation or certification by KIT, nor should the presence of
            a link in any way be construed as a suggestion that the site has
            any relationship with KIT. When viewing these pages remember that:<br />
        <br />
            1. KIT is not endorsing or guaranteeing the products, information
            or recommendations provided by linked sites;<br />
            2. KIT is not liable for any failure of products or services
            advertised on those sites;<br />
            3. Each Web site may have a privacy policy different than KIT;
            and,<br />
            4. The linked Web site may provide less security than KIT's Web
            site.<br />
        <br />
        
        <h2>User Policy - Inbound Linking Policy Statement.</h2> 
            KIT discourages links to KIT web sites from third party sites, without
            prior approval and the existence of a satisfactory linking agreement.
            However, if links to KIT web sites exist outside of an established
            agreement with KIT, certain conditions must be followed:<br />
        <br />
            1. Do not use any of KIT's names, logos, designs, slogans, product
            trademarks or service marks, in or with your links. You may only
            link to KIT by using the plain text name of KIT Federal Credit
            Union.<br />
        <br />
            2. Do not present the link to KIT Web sites in any way that suggests
            KIT has any relationship or affiliation with your site, or endorses,
            sponsors or recommends the information, or products and services
            on your site. Do not use any of KIT's names, logos, designs,
            slogans, or product trademarks, in any advertising, publicity,
            promotion, or in any other commercial manner.<br />
        <br />
            3. Link only to the home page of this site.<br />
        <br />
            4. Do not incorporate any content from KIT Web sites into your
            site by in-lining or framing.<br />
        <br />
            5. Do not use any of KIT's names, logos, designs, slogans, product
            trademarks, or any other words or codes identifying KIT's Web
            site in any &quot;metatag&quot; or other information used by
            search engines, or other information location tools, used to
            identify and select sites.<br />
        <br />
                
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="copyright" id="copyright"></a><br />
        <br />
                
		<h2>COPYRIGHT NOTICE</h2>
        <h2>Copyright.</h2> 
			Copyright 2006 KIT Federal Credit Union (KIT). All rights reserved. Permission
            to copy and distribute documents and related graphics from this website
            is granted subject to the following:<br />
        <br />
            1. The materials provided herein are for internal, non-commercial
            use only, and<br />
        <br />
            2. Copying of documents that either contain or request member
            data is strictly prohibited.<br />
        <br />
            Each document published by KIT on this server may contain other
            proprietary notices or describe products, services, processes
            or technologies owned by KIT or third parties. Nothing contained
            herein shall be construed as granting a license under any copyright,
            trademark, patent or other intellectual property right of KIT
            or any third party.<br />
        <br />
            <h2>Trademarks.</h2> 
			All other products and service marks
            contained herein are the trademarks of their respective owners.<br />
        <br />
            <h2>Consent to Monitoring and Disclosure.</h2> 
            KIT and ShareOne, Inc. (ShareOne), who partner to make internet services
            available to KIT members, are under no obligation to monitor
            the information residing on or transmitted to this server. However,
            anyone using this server agrees that KIT and ShareOne may monitor
            the server contents periodically to (1) comply with any necessary
            laws, regulations or other governmental requests; (2) operate
            the server properly or protect themselves and their users. (3)
            modify, reject or eliminate any information residing on or transmitted
            to this server that they, in their discretion, believe is unacceptable
            or in violation of these terms and conditions.<br />
        <br />
            Any information provided to KIT, including, but not limited to,
            feedback, application data, answers, questions, comments, suggestions,
            or the like, shall be deemed to be confidential, and every reasonable
            precaution will be taken to protect such information from disclosure.<br />
        <br />
        
        <h2>Disclaimer of Liability.</h2> 
        <em>THE USER OF THIS SYSTEM ASSUMES ALL RESPONSIBILITY AND RISK FOR THE
            USE OF THIS SERVER AND THE INTERNET GENERALLY. KIT AND ITS AFFILIATES
            DISCLAIM ALL WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS, EXPRESS
            OR IMPLIED, WITH REGARD TO THE INFORMATION ACCESSIBLE FROM, OR
            VIA, THIS SERVER OR THE INTERNET GENERALLY. KIT DOES NOT ASSUME
            ANY LEGAL LIABILITY OR RESPONSIBILITY FOR THE ACCURACY, COMPLETENESS,
            OR USEFULNESS OF ANY INFORMATION, APPARATUS, PRODUCT OR PROCESS
            ACCESSIBLE FROM, OR VIA, THIS SERVER OR THE INTERNET GENERALLY.
            IN NO EVENT SHALL KIT BE LIABLE FOR ANY SPECIAL, INDIRECT, OR
            CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
            LOSS OF USE, DATA, OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
            NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION
            WITH THE USE OR PERFORMANCE OF THE INFORMATION ACCESSIBLE FROM,
            OR VIA, THIS SERVER OR THE INTERNET GENERALLY.</em><br />
        <br />
                    
		<%= link_to "Back to Top", :anchor => "top" %><br />
        <br />
        
        <hr />
        
        <a name="ehl" id="ehl"></a><br />
        <br />
                
		<h2>EQUAL HOUSING LENDER NOTICE</h2>
        <br />
        <h2>Equal Housing Lender.</h2><br />
            We Do Business in Accordance With Federal Fair Lending Laws.<br />
        <br />
        <strong><em>UNDER THE FEDERAL FAIR HOUSING ACT IT IS ILLEGAL
            ON THE BASIS OF RACE, COLOR, NATIONAL ORIGIN, RELIGION, GENDER,
            HANDICAP, OR FAMILIAL STATUS (HAVING CHILDREN UNDER THE AGE OF
            18), TO:</em></strong><br />
        <br />
        
        <ol>
            <li>Deny a loan for the purpose of purchasing, constructing, improving,
                repairing or maintaining a dwelling, or deny any loan secured
                by a dwelling; or</li>
            <li>Discriminate in fixing the amount, interest rate, duration,
                application procedures or other terms or conditions of such a
                loan, or in appraising property.</li>
        </ol>
        
        <strong><em>IF YOU BELIEVE YOU HAVE BEEN DISCRIMINATED AGAINST,
            YOU SHOULD SEND A COMPLAINT TO:</em></strong><br />
        <br />
            For processing under the Federal Fair Housing Act -<br />
        <br />
            Assistant Secretary for Fair Housing and Equal Opportunity<br />
            Department of Housing &amp; Urban Development<br />
            Washington, DC 20410<br />
        <br />
            For processing under NCUA regulations -<br />
        <br />
            National Credit Union Administration Office of Examination and
            Insurance<br />
            1775 Duke St.<br />
            Alexandria, VA 22314-3428<br />
        <br />
        <strong><em>UNDER THE EQUAL CREDIT OPPORTUNITY ACT, IT IS ILLEGAL
            TO DISCRIMINATE IN ANY CREDIT TRANSACTION:</em></strong><br />
        <br />
            On the basis of race, color, national origin, religion, gender,
            marital status, or age,<br />
            Because income is from public assistance, or<br />
            Because a right was exercised under the Consumer Credit Protection
            Act.<br />
        <br />
        <br />
        <strong><em>IF YOU BELIEVE YOU HAVE BEEN DISCRIMINATED AGAINST,
            YOU SHOULD SEND A COMPLAINT TO:</em></strong><br />
        <br />
            National Credit Union Administration Office of Examination and
            Insurance<br />
            1775 Duke St.<br />
            Alexandria, VA 22314-3428<br />
        <br />
                
		<%= link_to "Back to Top", :anchor => "top" %>    
		<p>&nbsp;</p>

</div>
