<div id="mainholderpad" class="clearfix">
	
    <h1>Helpful Links</h1>
    <p class="links">&nbsp;</p>
    <a name="top" id="top"></a>   
        
        <p class="links"><%= link_to "KY Grocers Home Page", "http://www.kygrocers.com/", :rel=>"external" %></p>
        <p class="links2">- Kentucky Grocers Association.</p>
    
        <p class="links"><%= link_to "KIAWA", "http://www.kiawa.org/", :rel=>"external" %></p>
        <p class="links2"> - Kentucky/Indiana Automotive Wholesalers Association</p>
    
        <p class="links"><%= link_to "Kentucky Credit Union League", "http://www.kycul.org/", :rel=>"external" %></p>
        <p class="links2"> - About Credit Unions</p>
    
        <p class="links"><%= link_to "N.A.D.A.", "http://www.nadaguides.com/", :rel=>"external" %></p>
        <p class="links2"> - Leading Source for Used Vehicle Values</p>
    
        <p class="links"><%= link_to "Carfax", "http://www.carfax.com/", :rel=>"external" %></p>
        <p class="links2"> - Vehicle History Reports</p>
    
        <p class="links"><%= link_to "Alliance One", "http://www.atmallianceone.org/", :rel=>"external" %></p>
        <p class="links2">- Find fee-free ATM nearest you</p>
    
        <p class="links"><%= link_to "Better Business Bureau", "http://www.bbb.org/", :rel=>"external" %></p>
        <p class="links2"> - Serving Louisville, Southern Indiana and Western Kentucky</p>
    
        <p class="links"><%= link_to "cnn.com/weather", "http://www.weather.com/weather/local/USIN0113", :rel=>"external" %></p>
        <p class="links2">- Weather Channel Forecast for Clarksville</p>
    
        <p class="links"><%= link_to "The Center For Debt Management: Debt Consolidation, Credit Counseling, Financial Services", "http://center4debtmanagement.com/", :rel=>"external" %></p>
    
        <p class="links"><%= link_to "Wall Street Journal", "http://interactive.wsj.com/home.html", :rel=>"external" %></p>
        <p class="links2">- Financial News</p>
    
        <p class="links"><%= link_to "IRS", "http://www.irs.gov/", :rel=>"external" %></p>
        <p class="links2">- The Digital Daily: Income Tax Forms, Instructions, Publications, Regulations Online</p>
    
        <p class="links"><%= link_to "Social Security Online", "http://www.ssa.gov/", :rel=>"external" %></p>
        <p class="links2">- The Official Website of the Social Security Administration</p>
    
        <p class="links"><%= link_to "Kentucky Department of Revenue", "http://revenue.ky.gov/", :rel=>"external" %></p>
        <p class="links2">- Administers applicable state tax laws</p>
    
        <p class="links"><%= link_to "Kentucky Office of the Attorney General", "http://ag.ky.gov/consumer/", :rel=>"external" %></p>
        <p class="links2">- Consumer Protection Services</p>
    
        <p class="links"><%= link_to "Liberty Checks", "https://reorder.libertysite.com/default.aspx", :rel=>"external" %></p>
        <p class="links2">- Order Your Checks Online</p>
    
        <p class="links"><%= link_to "CU Channels", "http://mortgage.purdueefcu.com/default2.asp", :rel=>"external" %></p>
        <p class="links2">- Apply for a Mortgage Loan to buy your new home</p>
    
        <p class="links"><%= link_to "Access VISA", "https://www.ezcardinfo.com", :rel=>"external" %></p>
        <p class="links2">- Your Credit Card Information Online</p>
    
        <p class="links"><%= link_to "NCUA", "http://www.ncua.gov/", :rel=>"external" %></p>
        <p class="links2">- National Credit Union Administration</p>
    
        <p class="links"><%= link_to "Federal Trade Commission", "http://www.consumer.gov/idtheft/", :rel=>"external" %></p>
        <p class="links2">- Your National Resource About ID Theft</p>
    
        <p class="links"><%= link_to "Go Direct - How do I SIGN UP", "http://www.godirect.gov/Signup/welcome.cfm", :rel=>"external" %></p>
        <p class="links2">- Sign up here for your electronic government recurring payments</p>
    
        <p class="links"><%= link_to "Fuel Economy", "http://www.fueleconomy.gov/", :rel=>"external" %></p>
        <p class="links2">- Know all you can for energy savings.</p>
    
        <p class="links"><%= link_to "MyMoney.gov", "http://www.mymoney.gov/default.shtml", :rel=>"external" %></p>
        <p class="links2">- U.S. Financial Literacy and Education Commission Providing financial education resources to all Americans.</p>
    
        <p class="links"><%= link_to "Online Credit Report", "https://www.truecredit.com/?sourceid=qIbAQdljwF3JAmrQRgW0&amp;siteid=0040554566", :rel=>"external" %></p>
        <p class="links2">- Your Credit Report is available for review.</p>
    
		<p class="links"><%= link_to "CUNA", "http://www.creditunion.coop/", :rel=>"external" %></p>
        <p class="links2">- Consumer information from your credit union.</p>
        
        <div id="disclaimer">
            <h3>DISCLAIMER:</h3>
            <p>The information provided by each of these services
                is the sole responsibility of the entity providing
                the information. The links to each entity is for
                convenience to the members. <br />
                KIT Federal Credit Union makes no representation,
                warranty, or endorsement regarding the accuracy
                of the information provided. Any warranties or
                representations expressed or implied are hereby
                disclaimed in their entirety.
            </p>
        </div>
        
        <%= link_to "Back to top", :anchor => "top" %>
        <p>&nbsp;</p>
</div>
