<div id="mainholderpad" class="clearfix">
    <h1>Online Services</h1>
    <p>You can handle your financial needs right where you are. 
    The following convenient online services are just a touch away, 
    24 hours a day-7 days a week. KIT wants to be there for you. 
    Just click on the link below and follow the instructions.</p>
    <p class="logo"><%= link_to "Membership Application", new_memberapp_path %></p>
    <p class="logo"><%= link_to "Loan Application - Consumer and Non-Purchase Mortgages", new_loanapp_path %></p>
    <p class="logo"><%= link_to "VISA Credit Card Application", new_visarequest_path %></p>
    <p class="logo"><%= link_to "CU CHANNELS 1st Mortgage Purchase Money Loan", "http://mortgage.purdueefcu.com/default2.asp", :rel=>"confirm external" %>
     </p>
    <p class="logo"><%= link_to "Loan Payment Calculator", slc_path %></p>
    <a name="calc" id="calc2"></a><p class="logo"><%= link_to "Investment (Savings) Calculator", sc_path %></p>
    <p class="logo"><%= link_to "KIT Connect Online Banking", hb_login_path %></p>
    <p class="logo"><%= link_to "Alliance One Network - no charge ATMs nationwide", "http://www.atmallianceone.org/", :rel=>"confirm external" %>
     </p>
    <p class="logo"><%= link_to "Request Information and Documentation for Other Services", new_rfi_path %></p>
</div>