<div id="mainholderpad" class="clearfix">
    <h1>PRODUCTS AND SERVICES</h1>
    <p>KIT Prides itself in offering a wide array of services for all our members' financial
        needs. As a full-service financial institution, we dedicate ourselves to offer
        a varied package of programs in savings and loans and in support services. First
        and foremost, we want to be the place where you belong. Convenient, efficient,
        friendly service is what our members want and we are here to provide.</p>
    
    <p class="logohead"><%= link_to "Membership", about_path(:anchor => "membership") %></p>
    <p class="logo"><%= link_to "Eligibility", about_path(:anchor => "member") %></p>
    <p class="logo"><%= link_to "Family Membership", about_path(:anchor => "membership") %></p>
    
    
    
    <p class="logohead"><%= link_to "Savings and Checking", products_savings_path %></p>
    <p class="logo"><%= link_to "Prime Share Account", products_savings_path(:anchor => "prime") %></p>
    <p class="logo"><%= link_to "Checking Account", products_savings_path(:anchor => "checking") %></p>
    <p class="logo"><%= link_to "Money Market Account", products_savings_path(:anchor =>"mma") %></p>
    <p class="logo"><%= link_to "Special&quot; Savings Account", products_savings_path (:anchor => "special") %></p>
    <p class="logo"><%= link_to "Christmas Club Account", products_savings_path(:anchor => "christmas") %></p>
    <p class="logo"><%= link_to "Vacation Club Account", products_savings_path(:anchor => "vacation") %></p>
    <p class="logo"><%= link_to "Bill Payer Account", products_savings_path(:anchor => "billpayer") %></p>
    <p class="logo"><%= link_to "Share Certificate", products_savings_path(:anchor => "sharecert") %></p>
    <p class="logo"><%= link_to "Individual Retirement Accumulation Account (IRA)", products_savings_path(:anchor => "ira") %></p>
    <p class="logo"><%= link_to "IRA Share Certificate", products_savings_path(:anchor => "irashare") %></p>
    
    <p class="logohead"><%= link_to "Loans", products_loan_path %></p>
    <p class="logo"><%= link_to "New Auto Loan", products_loan_path(:anchor => "newauto") %></p>
    <p class="logo"><%= link_to "Used Auto Loan", products_loan_path(:anchor => "newauto") %></p>
    <p class="logo"><%= link_to "New and Used Boat/Boat Trailer/Boat Motor Loan", products_loan_path(:anchor => "boat") %></p>
    <p class="logo"><%= link_to "New and Used Motorcycle Loan", products_loan_path(:anchor => "motorcycle") %></p>
    <p class="logo"><%= link_to "New and Used RV Loan", products_loan_path(:anchor => "rv") %></p>
    <p class="logo"><%= link_to "New and Used Horse Trailer and Other Vehicle Loan", products_loan_path(:anchor => "other") %></p>
    <p class="logo"><%= link_to "&quot;Ready Cash&quot; Line-of-Credit", products_loan_path(:anchor=>"readycash") %></p>
    <p class="logo"><%= link_to "Overdraft Protection Loan", products_loan_path(:anchor => "od") %></p>
    <p class="logo"><%= link_to "Other Unsecured and Personal Loan", products_loan_path(:anchor => "personal") %></p>
    <p class="logo"><%= link_to "VISA Credit Card", products_loan_path(:anchor => "visa") %></p>
    <p class="logo"><%= link_to "Home Equity Line-of-Credit Loan (HELOC)", products_loan_path(:anchor => "heloc") %></p>
    <p class="logo"><%= link_to "1st and 2nd Non-purchase Money Mortgage Loans", products_loan_path(:anchor => "money") %></p>
    <p class="logo"><%= link_to "(Closed-end Equity Loan)", products_loan_path(:anchor => "money") %></p>
    <p class="logo"><%= link_to "1st Mortgage Purchase Money Loan", products_loan_path(:anchor => "mortgage") %></p>
    <h1>&nbsp;</h1>
</div>
