<div id="mainholderpad" class="clearfix">
    <h1>SAVINGS AND CHECKING</h1>
    <%= image_tag "logoblue_small.jpg", :alt=>"" %>
    <strong>Prime Share Account</strong> <br />
    <br />
    <%= image_tag "savings1.gif", :class=>"fleft", :alt=>"" %> 
        Your prime savings account at KIT Federal Credit Union is your <em>share</em> in the
        credit union. You are required to maintain a minimum balance of $5.00 to establish
        your account and, therefore your membership. This is what makes you eligible
        for all of the services the credit union offers. This account is a savings account
        and earns dividends. <br />
    <br />
        Once your account is established, you can remain a member for life and immediate
        family members become eligible to join the credit union. <br />
    <br />
        Deposits to shares can be made in person, by payroll deduction, direct deposit,
        or by mail. You will have 24-hour access to your share account by Internet (KIT
        Connect), phone (Audio Response), debit card, ACH, or automated teller machine.
    <br />
    <br />
    <br />

    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %>
			</td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %>
                </td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %>
                </td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="checking" id="checking"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %>
    <strong>Checking Account</strong> <br />
    <br />
    <%= image_tag "savings2.gif", :class=>"fleft", :alt=>"" %> 
        Are you looking for a Checking Account that is free of monthly services charges and
        maintenance fees. And this includes a VISA Debit Card for free to add to your
        convenience. <br />
    <br />
        With the advantage of direct deposit of your payroll check, your social security
        payment, or your retirement check, you no longer have to wait in line to make
        a deposit and get cash back. Let your money beat you to your account, and get
        cash when you need it through all our convenient services. <br />
    <br />
    <br />

    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %>
                </td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %>
                </td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %>
                 </td>
        </tr>
    </table>
    
    <br />
    <br />
    
    <hr />
    
    <a name="mma" id="mma"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %>
    <strong>Money Market Account</strong><br />
    <br />
        The KIT Money Market Account (MMA) is a dividend earning account that offers
        a competitive dividend rate. Compared to your savings and checking accounts,
        an MMA offers easy access to your funds, liquidity and a higher rate to help
        you reach your financial goals. Maximize your current savings plan with a KIT
        Money Market Account today.<br />
    <br />
    
    <h2>Key Features and Benefits:</h2>
    
    <ol>
        <li>Competitive dividend rates; the more you deposit, the better dividend
            rate you will earn.</li>
        <li>Dividends are compounded daily and credited monthly to your Money Market
            Account.</li>
        <li>Easy online access to your account via our secure website whenever you
            want.</li>
        <li>Insured by the National Credit Union Share Insurance Fund (NCUSIF).</li>
        <li>Must maintain a minimum average daily balance of $1,000 or more to earn
            the high MMA rate.</li>
        <li>No service charge.</li>
    </ol>
    
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="special" id="special"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>&quot;Special&quot; Savings
    Account</strong><br />
    <br />
    You are always special at KIT and you can set up a Special Savings account to
    fit your savings needs. Accumulate funds in an account you name for insurance
    or college tuition and let the money accumulate until you need it. You state
    the reason, we keep the money separate and safe until you withdraw the funds
    by cash, check, or transfer to another account. Information and service is available
    at the office or through Audio Response and KIT Connect. <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="christmas" id="christmas"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>Christmas
    Club Account</strong><br />
    <br />
    <%= image_tag "savings3.gif", :class=>"fleft", :alt=>"" %> Make
    Christmas easy for you. Christmas doesn't have to be a time of worry or money
    juggling. Save a little from each paycheck all year long and reap the fun at
    the Holidays. Through payroll deduction or ACH/Direct Deposit, a little turns
    into a big check for your Holiday shopping spree. <br />
    <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %>
             </td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="vacation" id="vacation"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> 
    <strong>Vacation Club Account</strong><br />
    <br />
    <%= image_tag "savings4.gif", :alt=>"", :class=>"fleft" %> 
    Planning a vacation, but don't have the money? Our Vacation Club account is your answer!
    Use payroll deductions or ACH or Direct Deposit, this account builds throughout
    the year, and is available when you're ready for your vacation. <br />
    <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="billpayer" id="billpayer"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>Bill
    Payer Account</strong><br />
    <br />
    <%= image_tag "savings5.gif", :alt=>"", :class=>"fright" %> Set
    your funds aside in our Bill Payer Account and we can pay your bills for you.
    Use payroll deduction or ACH/Direct Deposit and build your payments from each
    paycheck. When the due date is rolling around, call a Member Services Representative
    or stop by the office and give us your instructions on who to pay and when to
    send it. Make your payments the smart way, ask a Member Service Representative
    for all the details. <br />
    <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="sharecert" id="sharecert"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>Share
    Certificate</strong><br />
    <br />
    Share certificates let you lock-in our highest dividend rates for the term you
    select. Additional benefits include a low minimum balance of $500 and you can
    receive dividends monthly or quarterly. Share Certificates allow your extra money
    to grow with higher, market competitive rates. So whether you are saving for
    that new home, a special rainy day, or retirement, use our Share Certificate
    Account to make it easy! <br />
    <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="ira" id="ira"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>Individual
    Retirement Accumulation Account (IRA)*</strong><br />
    <br />
    You want to start saving in a tax-deferred account for that rainy day of leisure,
    but you don't have the required minimum for an IRA Certificate? KIT is here for
    you! Just simply set up an IRA Accumulation Account and your funds are now retirement
    funds. All the attributes of a savings account, but it is tax-deferred. <br />
    <br />
    Set aside funds through payroll deduction or ACH/Direct Deposit and pay yourself
    first to make retirement worry free. You can arrange automatic monthly transfers
    from checking or savings to save  &quot;painlessly&quot; and build towards your
    future. <br />
    <br />
    You can leave your funds in this account or, when you saved the minimum for an
    IRA Certificate, request the funds to be put in an IRA Certificate at the terms
    that best suit you. <br />
    <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <a name="irashare" id="irashare"></a> <br />
    <br />
    <%= image_tag "logoblue_small.jpg", :alt=>"" %> <strong>IRA Share Certificate</strong><br />
    <br />
    IRA Certificates have a low minimum balance of $500. IRA Certificates earn higher
    dividends to make your personal tax-deferred plan grow for you. They work the
    same as our Share Certificates, but have that added benefit of a retirement savings
    plan. Pick your term that suits your needs and we will help you plan for that
    hard-earned retirement. <br />
    <br />
    <br />
    <br />

    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Membership Now", new_memberapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path, :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Savings Rates", ratessavings_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Rate &amp; Fee Disclosure", truth_path %></td>
        </tr>
    </table>
</div> 