<div id="mainholderpad" class="clearfix">
    <h1>LOAN PRODUCTS</h1>
	<a name="newauto" id="newauto"></a>
    <h3>New and Used Auto Loans</h3><br />
    <br />
    <%= image_tag "loan1.gif", :alt=>"", :class=>"fleft" %> 
    Looking for a first car? Looking for a second car? Looking for a car for your kids? 
    Whatever kind of car you may be looking for, you don't need to look for financing. 
    It's right here at KIT. <br />
    <br />
    There are many benefits to financing all your vehicles through KIT: *
    
    <ul>
        <li>Up to 100% financing is available on new and used models</li>
        <li>Terms up to 72 months</li>
        <li>Competitive, low rates</li>
        <li>Refinance auto loans from other lenders and lower your monthly payments</li>
        <li>We can pre-approve your loan before you buy</li>
    </ul>
    
    * Terms and conditions are based on each borrower's own credit history and the
    type and value of the automobile <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    
    <br />
	<a name="boat" id="boat"></a>
    <h3>New and Used Boat Loans</h3><br />
    <br />
    <%= image_tag "loan2.gif", :alt=>"", :class=>"fright" %> Recreation
    fun can be made a lot better when you let KIT help you with that
    boat purchase. Whether you are getting a new or used boat, we can
    finance it for you at our low rates and reasonable terms. So don't
    let the cost of your boat and accessories get you down, let KIT get
    you out on the water for less! <br />
    <br />
    * Terms and conditions are based on each borrower's own credit history and the
    type and value of the boat <br />
    <br />
    <br />

    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
                
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="motorcycle" id="motorcycle"></a>
    <h3>New and Used Motorcycle Loans</h3><br />
    <br />
    Motorcyclists are often overlooked, but not at KIT. We have low rates and easy
    terms to open up the road for you. <br />
    <br />
    * Terms and conditions are based on each borrower's own credit history and the
    type and value of the motorcycle <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="rv" id="rv"></a>
    <h3>New and Used RV Loans</h3><br />
    <br />
    <%= image_tag "loan3.gif", :alt=>"", :class=>"fleft" %>
    <%= image_tag "loan4.gif", :alt=>"", :class=>"fright" %> Whether
    you need a small RV for those weekend trips and summer vacations or you are ready
    to roll in a large RV for extended trips, KIT can help make your wish come true.
    Check us out for our varied terms and rates that will make RV living a treat. <br />
    <br />
    * Terms and conditions are based on each borrower's own credit history and the
    type and value of the RV <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="other" id="other"></a>
    <h3>New and Used Horse Trailer and Other Vehicle Loan</h3><br />
    <br />
    Looking around for someone to help with a horse trailer or other out of the norm
    vehicle? Call us to see if we can't be of assistance to you. KIT is here to serve
    and if we can lend on it under our regulations, we will. <br />
    <br />
    * Terms and conditions are based on each borrower's own credit history and the
    type and value of the vehicle. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
    
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="readycash" id="readycash"></a>
    <h3>&quot;Ready Cash&quot; Line-of-Credit</h3><br />
    <br />
    Sometimes you need extra funds to purchase that personal item, take a vacation,
    or repair the house or car and KIT has a loan just for you. Our Ready Cash Line-of-Credit
    sets up a credit limit with your signature as the collateral and at amount that
    is determined by your needs and financial standing. When you need money, just
    access you're your Ready Cash account for the funds you need through Audio Response,
    KIT Connect, or at the Credit Union Office. No need for lengthy applications
    each time you want some extra cash for something special. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="od" id="od"></a>
    <h3>Overdraft Protection Loans</h3><br />
    <br />
    <%= image_tag "loan5.gif", :alt=>"", :class=>"fright" %>We've
    all done it --- written a check and miscalculated our balance. Guard against
    that once in a long while missed-step by signing up for our Overdraft Protection
    Loan. This signature loan will set aside a line-of-credit to cover those times
    when you overdraw your account. Let other people pay NSF fees and be too embarrassed
    to go back to their favorite store, you'll be protected at KIT. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="personal" id="personal"></a>
    <h3>Other Unsecured and Personal Loans</h3><br />
    <br />
    For those one-time needs, whether planned or unexpected, KIT personal loans are
    for you. KIT can build a loan that fits your budget and takes care of you. Just
    contact us and we will go to work for you right away. Personal service for your
    personal needs. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="visa" id="visa"></a>
    <h3>VISA Credit Cards</h3><br />
    <br />
    <%= image_tag "loan6.gif", :class=>"fleft", :alt=>"" %> If
    you want a credit card that is convenient and doesn't have all those restrictions
    and &quot;if&quot; clauses, then you need a VISA Credit Card from KIT. Low fixed
    rate, no annual fee, no higher rate if your payment is late, comfortable repayment
    terms, and worldwide acceptability make KIT's credit card program ideal for you.
    Don't wait and be caught without cash or checks, get your VISA today! <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a VISA Now", new_visarequest_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="heloc" id="heloc"></a>
    <h3>Home Equity Line-of-Credit Loan (HELOC)</h3><br />
    <br />
    <%= image_tag "loan7.gif", :alt=>"", :width=>78, :class=>"fright", :height=>104 %>Put
    the equity in your home to work for you. Is it time to pay college tuition for
    the proud parents of that high school graduate or do you want to remodel the
    basement to get the kids out from under foot? KIT can help you access the sleeping
    equity that is waiting to be of use to make your dreams a reality. This account
    is usually tax deductible (ask your tax professional) for added benefits to you.
    Access your HELOC through KIT Connect, by phoning the Office, or by stopping
    by at your leisure. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="money" id="money"></a>
    <h3>1st
    and 2nd Non-purchase Money Mortgage Loans (Closed-end Equity Loan)</h3><br />
    <br />
    <%= image_tag "loan8.gif", :alt=>"", :width=>73, :class=>"fleft", :height=>73 %>Sometimes
    you want a fixed-rate loan for a singular purpose, but your Ready Cash limit
    isn't quite enough. Let the equity in your home work for you since you're working
    for it or on it everyday. We have several options for you to choose from in setting
    up a loan to fit your needs. It doesn't matter if you have paid off all mortgages
    on your home or if you want to combine a first and second mortage to make those
    payments easier, let us serve you. Just contact a Loan Officer and they will
    work with you to make your life easier. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <br />
    <a name="mortgage" id="mortgage"></a>
    <h3>1st Mortgage Purchase Money Loans </h3><br />
    <br />
    <%= image_tag "loan9.gif", :class=>"fleft", :alt=>"" %>KIT
    partners with CU Channels to offer you a wide variety of terms to assist you
    in buying that dream home. Whether it is your first home, a growing family upgrade,
    or a retirement cottage, we can help it become yours. KIT staff assists you with
    all the paper work and closes your loan, so you have our same efficient, friendly
    service during this stressful time. Your best choice for financing is just a
    click a way. <%= link_to "CU Channels", "http://mortgage.purdueefcu.com/default2.asp?siteId=C7C70A56-FBD2-462A-9CB9-36E057F6D305", :rel=>"confirm external" %> will get you your home. <br />
    <br />
    <br />
    
    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
        
    <br />
    <br />
    <hr />
    <br />
    <a name="loanins" id="loanins"></a>
    <h3>Loan Protection Insurance</h3><br />
    <br />
    Why worry that you won't be able to meet all your financial responsibilities
    in case you are sick or injured or even if you die? With our low cost credit
    disability it will pay on your credit union loans while you are off from work.
    Our credit life insurance will make life easier for your loved ones in the event
    of your death. Don't worry while you are sick or leave your family behind with
    your bills, sign up for credit disability and life insurance on all your credit
    union loans. <br />
    <br />
    <br />

    <table class="default">
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "Apply for a Loan Now", new_loanapp_path, :rel=>"external" %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
                <%= link_to "Request More Information", new_rfi_path,  :rel=>"external" %></td>
        </tr>
        <tr>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "See Current Loan Rates", ratesloan_path %></td>
            <td><%= image_tag "logoblue_small.jpg", :alt=>"" %>
            <%= link_to "Calculate an estimated payment", slc_path %></td>
        </tr>
    </table>
</div>