<div id="mainholderpad" class="clearfix">
	<a name="top" id="top"></a>
	<h1><a name="apps" id="apps"></a>Current Savings Rates</h1>
	<p>KIT offers the following competitive rates to its members:</p>
     
    <ul>
        <li><%= link_to "Share Rates", :anchor => "sharerates" %></li>
        <li><%= link_to "Share Certificate Rates", :anchor => "sharecertrates" %></li>
        <li><%= link_to "IRA Certificate Rates", :anchor => "irarates" %></li>
        <li><%= link_to "Loan Rates", ratesloan_path %></li>
    </ul>
    
    <p> For important information about KIT dividend rates, see our <%= link_to "Truth in Savings Disclosure", truth_path %> &amp; <%= link_to "Fee Schedule", fees_path %>.</p>
    <hr />
    
    <a name="sharerates" id="sharerates"></a>
    
    <p>&nbsp;</p>
    
    <table class="sharerates">
        <tr class="blu">
            <th colspan="4">Share Rates</th>
        </tr>
        <tr class="blu">
            <td>Description</td>
            <td>Minimum Balance To Earn Dividend</td>
            <td>Dividend Rate</td>
            <td>Annual Percentage Yield</td>
        </tr>
        <tr>
            <td>Prime Share Savings</td>
            <td>$5.00</td>
            <td>0.05 %</td>
            <td>0.05 %</td>
            </tr>
        <tr>
            <td>Christmas Shares</td>
            <td>$0.00</td>
            <td>0.05 %</td>
            <td>0.05 %</td>
            </tr>
        <tr>
            <td>Other Share Accounts</td>
            <td>$0.00</td>
            <td>0.00 %</td>
            <td>0.00 %</td>
            </tr>
        <tr>
            <td>Individual Retirement Accounts</td>
            <td>$5.00</td>
            <td>0.15 %</td>
            <td>0.15 %</td>
            </tr>
        <tr>
            <td rowspan="4">Money Market Accounts</td>
            <td>$1,000 </td>
            <td>0.10 %</td>
            <td>0.10 %</td>
            </tr>
        <tr>
            <td>$2,000</td>
            <td>0.15%</td>
            <td>0.15%</td>
            </tr>
        <tr>
            <td>$20,000</td>
            <td>0.35%</td>
            <td>0.35%</td>
            </tr>
        <tr>
            <td>$85,000</td>
            <td>0.55%</td>
            <td>0.55%</td>
            </tr>
        <tr>
            <td colspan="4" class="blu2">* Rates Shown are effective 03/31/2010<br /><br />
            For share accounts the dividend rates are prospective with anticipated APYs for 
            the current calendar quarter. The dividend rate and APY may change every calendar 
            quarter as determined by the Board of Directors.</td>
        </tr>
    </table>
    
    <p>See <%= link_to "Truth in Savings Disclosure", truth_path %> for important information about dividends.</p>
     
    <hr />
    
    <p>&nbsp;</p>
    <a name="sharecertrates" id="sharecertrates"></a> 
    
    <table class="sharerates">
        <tr class="blu">
            <th colspan="4">Share Certificates</th>
        </tr>
        <tr class="blu">
            <td>Term</td>
            <td>Minimum Balance To Earn Dividend</td>
            <td>Dividend Rate</td>
            <td>Annual Percentage Yield</td>
        </tr>
        <tr>
            <td>6 Month Certificate</td>
            <td>$500</td>
            <td>0.58%</td>
            <td>0.58%</td>
            </tr>
        <tr>
            <td>12 Month Certificate</td>
            <td>$500</td>
            <td>0.60%</td>
            <td>0.60%</td>
            </tr>
        <tr>
            <td>18 Month Certificate</td>
            <td>$500</td>
            <td>0.70%</td>
            <td>0.70%</td>
            </tr>
        <tr>
            <td>24 Month Certificate</td>
            <td>$500</td>
            <td>1.01%</td>
            <td>1.02%</td>
            </tr>
        <tr>
            <td>36 Month Certificate</td>
            <td>$500</td>
            <td>1.20%</td>
            <td>1.22%</td>
            </tr>
        <tr>
            <td>48 Month Certificate</td>
            <td>$500</td>
            <td>1.83%</td>
            <td>1.84%</td>
            </tr>
        <tr>
            <td>60 Month Certificate</td>
            <td>$500</td>
            <td>1.93%</td>
            <td>1.93%</td>
            </tr>
        <tr>
            <td colspan="4" class="blu2"> * Rates Shown are effective 10/27/2010<br /><br /> 
                * If you want a share certificate with a term different from those listed above, 
                then the rate will be for the closest term shorter than your request.</td>
        </tr>
    </table>
    
    <p>&nbsp;</p>
    <p>See <%= link_to "Truth in Savings Disclosure", truth_path %> for important information about dividends.</p>
        
    <br />
                 
    <hr />
        
    <p class="centertext">&nbsp;</p>
    <a name="irarates" id="irarates"></a>
    
    <table class="sharerates">
        <tr class="blu">
            <th colspan="4">IRA Certificates</th>
        </tr>
        <tr class="blu">
            <td>Term</td>
            <td>Minimum Balance To Earn Dividend</td>
            <td>Dividend Rate</td>
            <td>Annual Percentage Yield</td>
        </tr>
        <tr>
            <td>6 Month Certificate</td>
            <td>$500</td>
            <td>0.58%</td>
            <td>0.58%</td>
            </tr>
        <tr>
            <td>12 Month Certificate</td>
            <td>$500</td>
            <td>0.60%</td>
            <td>0.60%</td>
            </tr>
        <tr>
            <td>18 Month Certificate</td>
            <td>$500</td>
            <td>0.70%</td>
            <td>0.70%</td>
            </tr>
        <tr>
            <td>24 Month Certificate</td>
            <td>$500</td>
            <td>1.01%</td>
            <td>1.02%</td>
            </tr>
        <tr>
             <td>36 Month Certificate</td>
            <td>$500</td>
            <td>1.20%</td>
            <td>1.22%</td>
            </tr>
        <tr>
            <td>48 Month Certificate</td>
            <td>$500</td>
            <td>1.83%</td>
            <td>1.84%</td>
            </tr>
        <tr>
            <td>60 Month Certificate</td>
            <td>$500</td>
            <td>1.93%</td>
            <td>1.93%</td>
            </tr>
        <tr>
            <td colspan="4" class="blu2">* Rates Shown are effective 10/27/2010<br /><br />
                * If you want a share certificate with a term different from those listed 
                above, then the rate will be for the closest term shorter than your request.&nbsp;</td>
        </tr>
    </table>

<p>&nbsp;</p>
</div>