<div id="mainholderpad" class="clearfix">
    <h1 class="centertext">KIT FEDERAL CREDIT UNION</h1>
    <h1 class="centertext">TRUTH-IN-SAVINGS DISCLOSURE</h1>
    <address class="centertext">3415 Bardstown Road, Suite 103A<br />
        Louisville, Kentucky 40218<br />
        502.459.9286 or 1.888.459.9286<br />
        FAX: 502.458.7038</address>

     
       <p>This disclosure sets forth the parameters of the different accounts
        offered by KIT. This information along with the <%= link_to "Membership Agreement", membershipagreement_path %>, <%= link_to "Rate Schedule", ratessavings_path %>, and <%= link_to "Fee Schedule", fees_path %> sets forth the terms and conditions of all savings,
        demand, and share certificate accounts offered by KIT. Be
        sure to review all these documents to educate yourself to
        choose the best accounts for your financial needs. The Credit
        Union reserves the right to change the terms and conditions
        of these accounts from time to time without notice to you
        unless provided by law.</p>
       <p>Revised as of June 1, 2006</p>
        
        <h2>PRIME SHARE SAVINGS</h2>
            Rate Information<br />

        <ul>
            <li>For Current Rates <%= link_to "click here", ratessavings_path %></li>
        </ul>
         
        <h2>Compounding and Crediting</h2>
         
        <ul>
            <li>Dividends are compounded quarterly and credited to your account
                quarterly.</li>
            <li>If you close your account before the accrued dividends are
                credited, the dividend will not be paid.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>You must deposit a minimum of $5 to open this account.</li>
            <li>You must maintain a minimum balance of $5 in the account
                to earn dividends.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>Fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>You may make 6 transfers from your account, but only 3 may
                be payments by check to third parties. There are no limitations
                governing checks withdrawn at any office, as well as no limitations
                governing ATM transactions.</li>
        </ul>
        <br />
        <br />
            
        <hr />
        <br />
        <br />
            
        <h2>CHECKING ACCOUNTS</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
            <li>Dividends are not paid on checking accounts.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>There is no minimum balance that must be maintained for this account.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>No monthly maintenance fees</li>
            <li>Other fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>You may make unlimited transactions on your account each month.</li>
        </ul>
        <br />
        <br />
            
        <hr />
        <br />
        <br />
            
        <h2>MONEY MARKET ACCOUNTS</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
            <li>For Current Rates <%= link_to "click here", ratessavings_path %>.</li>
        </ul>
         
        <h2>Compounding and Crediting</h2>
         
        <ul>
            <li>Dividends are compounded montly and credited to your account
                monthly.</li>
            <li>If you close your account before the accrued dividends are
                credited, the dividend will not be paid.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
        
        <ul>
            <li>You must maintain a minimum balance of $1,000 in the account
                to earn dividends.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>No monthly maintenance fees.</li>
            <li>Other fees may be charged to your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>You may make 6 transfers from your account, but only 3 may
                be payments by check to third parties. There are no limitations
                governing checks withdrawn at the office. If you exceed or
                attempt to exceed these transfer limits, the excess transfer
                requests may be refused or reversed, a fee may be imposed
                on the excess transfer request, and the Credit Union may
                reclassify or close your account.</li>
        </ul>
        
        <br />
        <br />
            
        <hr />
        
        <br />
        <br />
            
        <h2>OTHER SAVINGS (including Vacation or other Special Accounts)</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
            <li>For Current Rates <%= link_to "click here", ratessavings_path %>.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>There is no minimum balance required to maintain this account.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>Fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>You may make 6 transfers from your account, but only 3 may
                be payments by check to third parties. There are no limitations
                governing checks withdrawn at any office, as well as no limitations
                governing ATM transactions.</li>
        </ul>
        <br />
        <br />
            
        <hr />
       <br />
        <br />
            
        <h2>CHRISTMAS SAVINGS</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
            <li>For Current Rates <%= link_to "click here", ratessavings_path %>.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>There is no minimum balance required to maintain this account.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>If you make a withdrawal prior to October 1st or after December
                31st, then a fee of $5 will be imposed on each withdrawal.
                The account may be closed for excessive withdrawals.</li>
            <li>Other fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>Christmas Accounts mature as of October 1st each year and
                funds are available for withdrawal at that time.</li>
        </ul>
        <br />
        <br />
            
        <hr />
       <br />
        <br />
            
        <h2>IRA ACCUMULATION SAVINGS ACCOUNT</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
            <li>For Current Rates <%= link_to "click here", ratessavings_path %></li>
        </ul>
         
        <h2>Compounding and Crediting</h2>
         
        <ul>
            <li>Dividends are compounded quarterly and credited to your account
                quarterly.</li>
            <li>If you close your account before the accrued dividends are
                credited, the dividend will not be paid.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>There is no minimum balance required to maintain this account.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>Fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
                <li>The transaction limitations on IRA accounts are governed
                    by separate regulation and will be supply to you upon specific
                    request for IRA information.</li>
        </ul>
        <br />
        <br />
            
        <hr />
       <br />
        <br />
            
        <h2>SHARE CERTIFICATES</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
                <li>For Current Rates <%= link_to "click here", ratessavings_path %></li>
        </ul>
         
        <h2>Compounding and Crediting</h2>
         
        <ul>
            <li>Dividends are compounded monthly or quarterly and credited
                to your account either monthly, quarterly, or at maturity
                according to the following:</li>
            <li>If the dividend period is monthly, for example, and the account
                is opened January 1, the beginning date for the first dividend
                period is January 1, and the ending date of such dividend
                period is January 31; or, for example, if the dividend period
                is quarterly and the account is opened January 1, the beginning
                date for the first dividend period is January 1, and the
                ending date of such dividend period is March 31. All other
                dividend periods follow this same pattern of dates until
                maturity when the final dividend would be credited.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
                <li>You must deposit a minimum of $500 to open this account.</li>
                <li>You must maintain a $500 minimum balance to maintain the
                    account. </li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
                <li>Fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
                <li>After the account is opened, you may not make deposits into
                    the account until the maturity date stated on the certificate.</li>
        </ul>
         
        <h2>Early Withdrawal Penalties</h2>
         
        <ul>
            <li>We may impose a penalty if you withdraw any funds other than
                dividends before the maturity date.</li>
            <li>If the withdrawal will lower the balance of the share certificate
                lower than the minimum stated on the share certificate, then
                the share certificate will be cancelled.</li>
            <li>If the term of the certificate is for one year or less, then
                a penalty will be imposed by the forfeiture of the smaller
                of: dividends accrued since issuance or renewal or 90 days
                dividends.</li>
            <li>If the term of the certificate is for greater than one year,
                then a penalty will be imposed by the forfeiture of the smaller
                of: dividends accrued since issuance or renewal or 180 days
                dividends.</li>
            <li>In certain cases specified in federal regulations, penalties
                shall not apply. </li>
        </ul>
         
        <h2>Renewal Policies</h2>
         
        <ul>
            <li>Your share certificate will automatically renew at maturity.</li>
        </ul>
        
        <br />
        <br />
            
        <hr />
        <br />
        <br />
            
        <h2>IRA SHARE CERTIFICATES (including Roth, Traditional, and Educational IRAs)</h2>
         
        <h2>Rate Information</h2>
         
        <ul>
                <li>For Current Rates <%= link_to "click here", ratessavings_path %></li>
        </ul>
         
        <h2>Compounding and Crediting</h2>
        
        <ul>
            <li>Dividends are compounded monthly or quarterly and credited
                to your account either monthly, quarterly, or at maturity
                according to the following:</li>
            <li>If the dividend period is monthly, for example, and the account
                is opened January 1, the beginning date for the first dividend
                period is January 1, and the ending date of such dividend
                period is January 31; or, for example, if the dividend period
                is quarterly and the account is opened January 1, the beginning
                date for the first dividend period is January 1, and the
                ending date of such dividend period is March 31. All other
                dividend periods follow this same pattern of dates until
                maturity when the final dividend would be credited.</li>
        </ul>
         
        <h2>Minimum Balance Requirements</h2>
         
        <ul>
            <li>You must deposit a minimum of $500 to open this account.</li>
            <li>You must maintain a $500 minimum daily balance to maintain
                the account.</li>
        </ul>
         
        <h2>Fees</h2>
         
        <ul>
            <li>Fees may be charged on your account. <%= link_to "See Fee Schedule", fees_path %>.</li>
        </ul>
         
        <h2>Transaction Limitations</h2>
         
        <ul>
            <li>After the account is opened, you may not make deposits into
                the account until the maturity date stated on the share certificate.</li>
        </ul>
         
        <h2>Early Withdrawal Penalties</h2>
         
        <ul>
            <li>We may impose a penalty if you withdraw any funds other than
                dividends before the maturity date, unless the withdrawal
                is allowable under federal regulation.</li>
            <li>If the withdrawal will lower the balance of the share certificate
                lower than the minimum stated on the share certificate, then
                the share certificate will be cancelled.</li>
            <li>If the term of the certificate is for one year or less, then
                a penalty will be imposed by the forfeiture of the smaller
                of: dividends accrued since issuance or renewal or 90 days
                dividends. </li>
            <li>If the term of the certificate is for greater than one year,
                then a penalty will be imposed by the forfeiture of the smaller
                of: dividends accrued since issuance or renewal or 180 days
                dividends. </li>
        </ul>
         
        <h2>Renewal Policies</h2>
         
        <ul>
            <li>Your share certificate will automatically renew at maturity.</li>
        </ul>
        <br />
        <br />
            
        <hr />
       <br />
        <br />
            
        <h2><em>THE FOLLOWING DISCLOSURES APPLY TO ALL OF THE ACCOUNTS.</em></h2>
         
        <h2>Nature of dividends</h2>
        <p>Dividends are paid from current income and available earnings after required transfers
            to reserves at the end of the dividend period. The Dividend Rate and
            APY are the prospective rates and yields that the Credit Union anticipates
            paying for the applicable dividend period.</p>
            
        <h2>Compounding and Crediting.</h2>
        
        <br />
        <br />
         The Dividend Period begins on the first calendar day of the period and ends
         on the last calendar day of the period.
        <br />
        <br />
		<h2>Balance Computation Method</h2>
         
        <ul>
        <li>We use the daily balance method to calculate dividends on
            your account. This method applies a daily periodic rate to
            the principal in the account each day.</li>
        </ul>
         
        <h2>Accrual of Dividends</h2>
         
        <ul>
            <li>Dividends will begin to accrue on the business day you deposit
                non-cash items (i.e., checks) to your account.</li>
        </ul>
         
        <h2>Internet Banking</h2>
         
        <ul>
            <li>No per transaction, no per transaction fee, and unlimited
                access via your PC and the Internet.</li>
        </ul>
</div>
