<div id="mainholderpad" class="clearfix">
<a name="top" id="top"></a>
    <p><%= image_tag "optin.jpg", :alt=>"" %></p>
    <hr />
<p><%= image_tag "checkimaging.jpg", :alt=>"" %> </p>
    <hr />
    <p>&nbsp;</p>
    <h2>FEDERAL  DEPOSIT INSURANCE INCREASE NOW PERMANENT!!</h2>
<p>On  October 3, 2008, Federal Deposit Insurance for banks and credit unions was  temporarily increased from $100,000 to $250,000.&nbsp; <strong>The $250,000 coverage has now been made permanent. &nbsp;</strong>Your actual insurance amount may be much  higher, depending on what type of accounts you have and how they&rsquo;re  titled.&nbsp; See the example below.</p>
    <p>Member  A and B, husband and wife, each have an individual account containing  $250,000.&nbsp; In addition, they hold a  qualifying joint account containing $500,000.&nbsp; <em>Their  total insurance coverage is $1,000,000:</em><br />
        Each  individual account is insured up to $250,000, and the interest of A and the  interest of B in the joint account are each insured for $250,000 separately  from their individual accounts, making their total coverage $1,000,000.</p>
    <p>For  more information, visit <%= link_to "www.ncua.gov", "http://www.ncua.gov/" %> and  click on &ldquo;insurance coverage&rdquo; and &ldquo;your insured funds&rdquo;.&nbsp; Remember, not one penny of insured savings  has ever been lost by a member of a federally insured credit union.&nbsp; Your money is safe at KIT.</p>
    <hr />
    <p><%= image_tag "carloanrate.jpg", :alt=>"" %></p>
<hr />
    <p class="centertext"><%= image_tag "valentine.jpg", :alt=>"" %></p>
    <hr />
    <p class="centertext"><%= image_tag "visacard.jpg", :alt=>"" %></p>
    <hr />
    <p class="centertext"><%= image_tag "visastuffer.jpg", :alt=>"" %></p>
<hr />
    <br />
    <p class="centertext"><strong>
    E-mail scams look very real.<br />
    don't become a victim!</strong></p>
    <strong><em>Never enter personal or credit card information into a web site
    in response to an unsolicited e-mail request</em></strong> <br />
    <br />
    <%= image_tag "phishing.jpg", :alt=>"", :class=>"fright" %>Have you ever received an e-mail claiming to be from a bank, credit union or
    service company asking you to &quot;verify&quot; personal or credit card information? <br />
    <br />
    If so, you've been an attempted victim of e-mail &quot;phishing.&quot; E-mail
    phishing attacks are attempts by criminals to get your personal information.
    It is called phishing because of the way the crime is attempted: criminals &quot;fish,&quot; or
    cast their bait, through spam e-mails hoping for someone to believe their message.
    The messages are created to sound and look like official notices. Information
    entered into these Web sites goes directly to the criminal. <br />
    <br />
    These e-mails and Web sites all look very real and are very convincing. But under
    closer scrutiny, you will see signs that should trigger suspicion: <br />
    <br />
    <ul>
    <li><strong>Businesses won't ask for personal information:</strong> Be
        suspicious of any unsolicited e-mails asking for your personal information,
        PINs, credit card numbers or ID numbers for  &quot;verification.&quot; </li>
       <li><strong>We won't ask for your PIN -</strong> keep it a secret: Businesses that issue PINs do so confidentially. It's a secret
            to everyone - even the employees at the company. </li>
        <li><strong>Phishing e-mails try to sell services, too:</strong> Typically
            phishing e-mails ask you to verify information. Some are trickier - they
            ask you to sign up for a service that will help reduce phishing scams
            or for services offering Identity Theft Prevention because of phishing
            scams. A recent phishing e-mail stated, &quot;Because of all the phishing
            e-mails, you may want to sign up for ID Theft Prevention.&quot; <strong><em>Note
            that this was actually sent by the scammers!</em></strong> The link directed
            the user to a phony sign-up page that asked for credit card numbers,
            etc., but it all looked real! Be aware of what's being offered by e-mail. </li>
        <li><strong>E-mail &quot;From&quot; addresses can be faked:</strong> It
            is quite simple for a spammer to send an e-mail that looks like it has
            been sent from a legitimate e-mail address. E-mail programs allow users
            to choose what the &quot;From&quot; address should say. So for these
            phishing e-mails that read from  &quot;verification@yourfinancalinstitution.com,&quot; they
            are not coming from your financial institution, just a person who set
            their e-mail program to write that. </li>
        <li><strong>Web addresses can be faked:</strong> Oftentimes,
            you can roll your mouse over the link that is in the e-mail (do not click
            the link), and the actual Web address (URL) will appear at the bottom
            of your screen. If it doesn't match the address in the e-mail, it's likely
            a phishing attack. If you click a link (which we advise you never do),
            inspect the URL in the browser to see if it is actually at the correct
            address listed in the e-mail. If not, stop there and close your browser. </li>
        <li><strong>Caution - Phishing Web sites look real (but they're not):</strong> Criminals
            use graphic images and wording from actual Web sites to create their
            own Web site. This is why the crime works, because the criminal's Web
            site looks real. </li>
    </ul>
    <br />
    <br />    
    <hr />    
    <br />
    <br />
    <%= image_tag "nophishing.gif", :alt=>"", :class=>"fleft" %> More
    than ever, criminals are targeting smaller organizations because more consumers
    recognize and trust local brands. Be cautious, suspicious, and aware of what
    information e-mails are requesting. <br />
    <br />
    <strong>Banks and Credit Unions of our community have been targets</strong><br />
    of recent phishing attacks by criminals using the their names and Web site design.
    Of course, they are not sending the e-mails, but many recipients don't realize
    this. However, many recipients are aware of phishing e-mails and know not to
    respond - we thank all who recognize these scams. <br />
    <br />
    <br />
    <br />
    <hr />
    <br />
    <strong>What are financial institutions doing about it?</strong> <br />
    Unfortunately, many recipients of the e-mails that name a financial institution
    actually think that we are sending the e-mails. We are not sending any of the
    e-mails. Financial institutions are doing many things in response to these incidents,
    1) making phishing education information available. We are also providing information
    on our Web sites, through e-mails and written notices to those we serve, and
    2) working in a variety of ways to have the sites quickly removed. <br />
    <br />
    We are very concerned about anyone falling victim to the spreading crime of phishing.
    Incidents are on the rise nationwide and only your non-response to this activity
    will help make it disappear. <br />
    <br />
    If you have any questions about phishing, please call your financial institution
    or go online for more information on phishing and ID theft.
    <p>&nbsp;</p>
    <hr />
    <br />
    <strong>What do you do if you receive an e-mail that looks like a phishing attempt?</strong><br />
    <ul>
        <li><strong>Never enter personal information.</strong>Social
            Security Numbers, credit card numbers, bank account numbers or PINs in
            response to an unsolicited e-mail. </li>
    
        <li><strong>Do not click on the link.</strong> It's tempting
            -- but don't! Once transferred to the phisher's Web site, some Web sites
            will try to infect your computer with a variety of harmful computer viruses
            - just by going to the fraudulent Web site. Keep up-to-date virus software,
            to help guard against any e-mail or Internet intrusions. </li>

        <li><strong>Report the incident.</strong> If you receive
            an e-mail phishing attempt with in your financial institution's name,
            send it to them immediately at their e-mail address and let them know
            when you received it. Also report it to the Federal Trade Commission.
            Law enforcement needs to know. </li>

        <li><strong>Don't feel pressure to divulge information.</strong> Scare
            tactics like threatening to close an account or suspend services are
            often used to try to get action on a phishing e-mail. If you feel pressure,
            contact the merchant (using the phone number you look up) to confirm
            anything before you act. </li>

        <li><strong>Educate family and friends about the epidemic.</strong> Explain
            what is happening with e-mail scams so others don't become victims (especially to novice computer users, who may be trusting of all e-mails). When people
            recognize the scams and stop responding to them, the criminals will stop
            sending the e-mails. </li>

        <li><strong>Delete the e-mails from your computer.</strong> Immediately
            erase the phishing e-mails so they can never be accessed by accident. </li>
    </ul>
    <br />
    <br />
    <hr />
    <br />
    <strong>Have you responded to a phishing attempt?</strong> <br />
    Many people don't realize they've responded to a phishing attempt until they
    see their statement, get a call from a financial institution about unusual activity
    or realize what they've done when they read notices like these. If you think
    you have entered personal information of any kind in response to an e-mail, notify
    the business immediately. The sooner the business is notified, the sooner they
    can reduce the possibility of a theft. If you think you responded to any e-mail
    phishing scam and entered your account, credit card or PIN information in the
    site, please call the your financial institution immediately. <br />
    <br />
    <%= link_to "Back to Top", :anchor => "top" %>
    <p>&nbsp;</p>
</div>
